{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Créer un nouveau mot de passe{% endblock %}
 
{% block body %}

    <div class="container mt-3">

        <h2>Nouveau Mot de Passe</h2>
            
        <div class="row">

            <div class="col-md-7">
                                                
                <p class="h5 mb-2">Veuillez créer votre nouveau mot de passe ci-dessous</p>

                <form method="post">

                    <input type="password" name="password" id="inputPassword" placeholder=" Nouveau Mot de passe" required>

                    <br>

                    <input type="hidden" name="token" value="{{ token }}">

                    <button class="btn btn-primary my-2" type="submit" id="valider">

                        <span class="h5 font-weight-bold">
                            Valider le nouveau mot de passe
                        </span>
                        
                    </button>  

                </form>

            </div>

        </div>

    </div>


{% endblock %}