{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Connexion au Site{% endblock %}

{% block body %}

    <!-- Login Form Template  -->

    <div class="container">

        <div class="row mt-4">

            <div class="mx-auto col-md-5">

                <div class="py-3 px-md-3">

                    <h3 class="font-weight-bold mb-4">Connectez-vous</h3>

                    <!-- Login errors display -->

                    {% if hasError %}
                        <div class="alert alert-danger">Une erreur est survenue, veuillez vérifier votre nom d'utilisateur et votre mot de passe.</div>
                    {% endif %}
                
                    <form action="{{path('account_login')}}" method="post">

                        <!-- Email Input -->
                
                        <div class="form-group mb-4">
                            <input type="text" name="_username" id="email" class="form-control" placeholder="E-mail" value="" required>
                
                        </div>

                        <!-- Password Input -->
                
                        <div class="form-group mb-4">
                            <input type="password" name="_password" id="" class="form-control" placeholder="Mot de passe" required>
                
                        </div>

                        <!-- "Remember Me" Check-Box -->

                        <input class="mb-4 mr-2" type="checkbox" id="remember_me" name="_remember_me" checked/>
                        <label for="remember_me">Se souvenir de moi</label>

                        <!-- Action Buttons -->
                
                        <div class="form-group">

                            <!-- Login button -->

                            <input type="submit" value="Connexion" class="btn btn-success bg-green sharp text-white font-weight-bold mr-2">

                            <!-- Go back button -->

                            <a href="{{path('homepage')}}">
                                <button type="button" value="" class="btn btn-info p-2">
                                    <span class="h5 font-weight-bold">Retour</span> 
                                </button>
                            </a>
                
                        </div>
                
                    </form>

                    <div>

                        <!-- New account access button -->

                        <div class="font-weight-bold h5 mb-3" >
                            Pas encore inscrit ? 
                            <a href="{{path('account_register')}}" class="text-green">Rejoignez-nous !</a>
                        </div>

                        <!-- Forgotten password access button -->

                        <div class="font-weight-bold h5">Mot de passe oublié ?
                            <a href="{{path('forgotten_password_request')}}" class="text-green">C'est ici</a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
