{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Connexion au Site{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="col-md-3">&nbsp;</div>

            <div class="col-md-6">

                <div class="py-3 px-3">

                    <h3 class="font-weight-bold">Connectez Vous!</h3>

                    {% if hasError %}
                        <div class="alert alert-danger">Une erreur est survenue, veuillez vérifier votre nom d'utilisateur et votre mot de passe.</div>
                    {% endif %}
                
                    <form action="{{path('account_login')}}" method="post">
                
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="_username" id="email" class="form-control" placeholder="Ecrire ici votre Adresse Email" value="" required>
                
                        </div>
                
                        <div class="form-group">
                            <label for="password">Mot de Passe</label>
                            <input type="password" name="_password" id="" class="form-control" placeholder="Mot de Passe" required>
                
                        </div>


                        <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                        <label for="remember_me">Se souvenir de moi</label>
                
                        <div class="form-group">

                            <input type="submit" value="Connexion" class="btn btn-success text-white font-weight-bold">
                
                        </div>
                
                    </form>

                    <div>
                        <div class="font-weight-bold h5">
                            Pas encore inscrit? 
                            <a href="{{path('account_register')}}">Rejoignez nous!</a>
                            </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
