{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %} Modification du mot de passe

{% endblock %}

{% block body %}

<div class="container">

    <h3 class="my-md-4 my-2">Modification du mot de passe</h3>

    <div class="row">

        <div class="col-md-4">
                    
            {{ form_start(form) }}

            {{ form_widget(form) }}

            <button type="submit" class="btn sharp btn-success bg-green mt-3 mr-2">

                <span class="h5 font-weight-bold">Enregistrer</span>

            </button>

            <a href="{{path('account_index')}}">
                <button type="button" class="btn btn-info sharp mt-3 font-weight-bold">Retour</button>
            </a>

            
            
            {{ form_end(form) }}


        </div>


    </div>


</div>

{% endblock %}