{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}
    Formulaire d'Inscription
{% endblock %}

{% block body %}

<div class="container col-sm-4 mt-5">
        
    <h3 class="font-weight-bold mt-4 mb-4">Inscription sur le site</h3>

        {{form_start(form)}}

        {{form_widget(form)}}

    <!-- ui Actions Buttons -->

    <div class="mt-md-5">

        <button type="submit" value="" class="btn btn-success bg-green mr-2 mb-2">
            <span class="h5 font-weight-bold">Valider</span> 
        </button>

        <a href="{{path('homepage')}}">
            <button type="button" value="" class="btn btn-info mb-2">
                <span class="h5 font-weight-bold">Retour</span> 
            </button>
        </a>

    </div>
    {{form_end(form)}}
</div>

{% endblock %}