{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}


{% block title %} Modification du Compte Utilisateur{% endblock %}

{% block body %}

    <div class="container">

        <h3 class="mt-2 mb-3 my-md-5 font-weight-bold">Modifications du compte utilisateur</h3>
                    
        <div class="row">

            <div class="container">

                <!-- Edit Emails Reception Preferences button -->

                <a href="{{ path ('manage_emails_preferences') }}" class="btn btn-primary font-weight-bold mr-2 my-2">Gérer mes emails reçus</a>
    
                <!-- change account email button -->

                <a href="{{ path ('account_update_email') }}" class="btn btn-primary font-weight-bold mr-2 my-2">Modifier l'e-mail de mon compte</a>
    
                <!-- change password button -->

                <a href="{{ path ('account_update_password') }}" class="btn btn-primary font-weight-bold mr-2 my-2">Modifier mon mot de passe</a>

            </div>

        </div>


        
    </div>
    
{% endblock %}