{% extends 'base.html.twig' %}

{% block title %}Lieux du Projet{% endblock %}

{% block body %}

    Cette page permettrait d'accéder à toutes les possibilités de localiser son projet : des pays, des régions, des départements, et des villes. Pour l'instant, on peut seulement ajouter et supprimer des villes.

    <div class="container">

        <h3 class="mt-3 mb-3">Lieux du Projet</h3>

        <a href="{{ path('places_manage_cities', {'slug': presentation.slug}) }}"><button class="btn btn-primary btn-lg font-weight-bold px-4 py-3 mb-3"> Gérer les Villes</button></a>

    </div>
    
{% endblock %}

{% block javascripts %}
{% endblock %}