
<div class="cursor-pointer col-md-7 mb-3 pl-0">
    <div class="card border-left-info shadow-sm h-100">
        <div class="card-body p-3">
            <a class="text-primary text-decoration-none" href="{{path('project_show',{'slug': presentation.slug})}}">
    
                    <div class="">
    
                        <!-- Project Keywords -->
                        {% if presentation.keywords | length > 0 %}
    
                            <div class="keywords font-weight-bold my-1 mb-1 h6 text-left" style="line-height:0.7;" >
    
                                #{{presentation.keywords | replace({"," : " #"}) | slice(0, 46) }}
    
    
                            </div>
    
                        {% endif %}
    
                        <!-- Project Goal -->
    
                            <h6 class="projectTitle font-weight-bold mb-0" style="font-size:1.25em">
                                {{presentation.goal | slice(0, 140) | capitalize}}
                            </h6>

                        <!-- Project Title -->

                            {% if presentation.title is not empty %}
                                <h6 class="font-weight-bold mb-0 fs-15">{{presentation.title | slice(0, 63) | capitalize}}</h6>
                            {% endif %}

                            

    
                    </div>
                    
    
            </a>
        </div>
    </div>
    </div>