{% extends 'base.html.twig' %}

{% block title %}Présentations de Projets{% endblock %}

{% block body %}

    <div class="container">
        
        <h2 class="my-3">Projets Présentés</h2>

        <div class="row pl-md-2">

            {% for presentation in presentations %}

                {% include 'pp/_display_linear_list.html.twig' %}

            {% endfor %}
            
        </div>

    </div>

{% endblock %}
