{% extends 'base.html.twig' %}

{% block title %}Présentations de Projets{% endblock %}

{% block body %}

    <div class="container">
        
        <h2 class="mt-4 mb-5">Projets présentés</h2>

        <div class="pl-md-2 mb-5">

            {% for presentation in presentations %}

                {% include 'pp/_display_linear_list.html.twig' %}

            {% endfor %}
            
        </div>

    </div>

{% endblock %}
