{% extends 'base.html.twig' %}

{% block title %}{{ presentation.title }}{% endblock %}


{% block body %}

    <div class="container">

        <!-- Titre du Projet -->
        <h2 class="h3 font-weight-bold mt-3">{{presentation.title}}</h2>

        <!-- Boutons de Modification du Projet -->
        {% include 'pp/partials/_creatorToolbar.html.twig' %}

        {% if app.user and app.user == presentation.creator %}


        {% endif %}

        <div class="row">
            
            <!-- Présentation Générale du Projet -->

            <div class="col-md-8 mb3">

                <!-- Project Goal Display -->
                {% include 'pp/partials/_goal.html.twig' %}

                <!-- Caroussel d'Images et Vidéos -->
                {% include 'pp/partials/_slideshow.html.twig' %}

                <!-- Besoins du Projet -->
                {% include 'pp/partials/_needs.html.twig' %}

                <!-- Sites Web du Projet -->
                {% include 'pp/partials/_websites.html.twig' %}

                <!-- Zone de Contacts -->
                {% include 'pp/partials/_contactUs.html.twig' %}

            </div>

            <!-- Capsule Porteur de Projet -->
            {% include 'pp/partials/_projectProviderArea.html.twig' %}


        </div>
    </div>

{% endblock %}