{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Contactez-Nous{% endblock %}

{% block body %}

    <div class="container mt-4 mt-md-5">

        <!-- UI Page Title -->

        <h3 class="pageTitle mb-4 mb-md-4 pl-md-4 font-weight-bold">Nous Contacter</h3>

        <!-- UI Page Description -->

        <p class="h5 px-0 pl-md-4 col-md-8 text-justify">
            Pour toute question, problème, ou remarque, n'hésitez pas à nous contacter avec le formulaire ci-dessous.
        </p>

        <!-- Contact Form -->

        <div class="container px-0 mt-4 mt-md-5 mb-md-5">

            <div class="px-0 mb-md-5 pl-md-4 col-md-8">

                {{form_start(form)}}
    
                    {{form_widget(form)}}
    
                <!-- Actions Buttons -->
    
                <div class="mt-4 mt-md-5">
    
                    <button type="submit" value="" class="btn btn-success sharp bg-green mr-2 mb-2">
                        <span class="h5 font-weight-bold">Envoyer le message</span> 
                    </button>
    
                    <a href="{{path('homepage')}}">
                        <button type="button" value="" class="btn sharp btn-info mb-2">
                            <span class="h5 font-weight-bold">Retour</span> 
                        </button>
                    </a>
    
                </div>
                
                {{form_end(form)}}

                <style>
                    .onpt {
                        display: none;
                    }
                </style>
    
            </div>
            
        </div>

    </div>

    <style>
        
    </style>

{% endblock %}
