{% extends 'base.html.twig' %}

{% block title %}Guide d'Utilisation Rapide{% endblock %}

{% block body %}

    <div class="container mt-4 mt-md-5 pl-md-4">

        <!-- How to use the website, Step By Step -->

        <!-- ui page title -->

        <!-- <h3 class="pageTitle font-weight-bold h2 mb-md-5 pt-md-3">Présentation du site</h3> -->

        <!-- step by step rows -->


        <!-- write project goal -->

        <div class="step col-md-10 mb-md-5">
            <div class="row" style="height: 200px;">
                <div class="step-number col-md-2 d-flex align-items-center justify-content-center bg-info">
                    <span class="listNumber h1">1</span>
                </div>
                <div class="step-image col-md-4 d-flex align-items-center bg-light">
                    <img src="images/static/quick_user_guide/write_goal.png" class="img-fluid mb-md-5" alt="hand writing project goal" >
                </div>
                <div class="step-description col-md-6 d-flex align-items-center bg-warning">
                    <h4 class="step-text">Écrivez l'objectif du Projet</h4>
                </div>
            </div>
        </div>

        <!-- provide project informations -->

        <div class="step col-md-10 mb-md-5">
            <div class="row" style="height: 240px;">
                <div class="step-number col-md-2 d-flex align-items-center justify-content-center bg-info">
                    <span class="listNumber h1">2</span>
                </div>
                <div class="step-image col-md-4 d-flex align-items-center bg-light">
                    <img src="images/static/quick_user_guide/bulletin_board.png" class="img-fluid" alt="bulletin board with mess informations" srcset="">
                </div>
                <div class="step-description col-md-6 d-flex align-items-center bg-warning">
                    <h4 class="step-text">Présenter les informations que vous souhaitez, par exemple une description et quelques images</h4>
                </div>
            </div>
        </div>
            
        <!-- et voila -->

        <div class="step col-md-10 mb-md-5">
            <div class="row">
                <div class="step-number col-md-2 d-flex align-items-center justify-content-center bg-info">
                    <span class="listNumber h1">3</span>
                </div>
                <div class="step-image col-md-4 d-flex align-items-center bg-light">
                    <img src="images/static/quick_user_guide/et_voila.png" class="img-fluid" alt="structured project presentation display" srcset="">
                </div>
                <div class="step-description col-md-6 d-flex align-items-center bg-warning">

                    <h4 class="step-text">Vous obtenez immédiatement une présentation structurée du projet. Les visiteurs peuvent suivre automatiquement les évolutions de sa présentation.<!--  Partagez son adresse ! -->

                        <a href="https://projetdesprojets.com/project/157" target="_blank"><button class="d-block btn btn-info font-weight-bold mt-4">Afficher un exemple</button></a>
                    </h4>
                   
                </div>
                
            </div>
        </div>
          
            
        <!-- discover possibilities 

        <div class="step col-md-10 mb-md-5">
            <div class="row" style="height: 250px;">
                <div class="step-number col-md-2 d-flex align-items-center justify-content-center bg-info">
                    <span class="listNumber h1">4</span>
                </div>
                <div class="step-image col-md-4 d-flex align-items-center justify-content-center bg-light">
                    <img src="images/static/quick_user_guide/launch.svg" class="img-fluid" alt="rocket launch" srcset="" style="max-width:180px;">
                </div>
                <div class="step-description col-md-6 d-flex align-items-center bg-warning">

                    <div class="">

                        <h4 class="step-text mb-4">Découvrez d'autres possibilités :</h4>
                                
                        <ul class="listOtherPossibilities font-weight-bold">

                            <li>donner des nouvelles</li>
                            <li>recevoir des commentaires</li>
                            <li>présenter les projets à plusieurs</li>

                        </ul>

                    </div>
         
                </div>
            </div>
        </div>

        -->
          
            
        <!-- it is your turn -->

        <div class="step col-md-10 mb-md-5">

            <div class="row" style="height: 250px;">

                <div class="step-number col-md-2 d-flex align-items-center justify-content-center bg-info">
                    <span class="listNumber h1">4</span>
                </div>

                <div class="step-image col-md-4 d-flex align-items-center justify-content-center bg-light">
                    <img src="images/static/quick_user_guide/your_turn.svg" class="img-fluid" alt="your turn" srcset="" style="max-width:150px;">
                </div>

                <div class="step-description col-md-6 d-flex align-items-center justify-content-center bg-warning">

                    <div class="">

                        <!-- <h4 class="step-text mb-4">C'est votre tour :</h4> -->

                        <a href="{{path('create_presentation')}}" class="font-weight-bold my-1" type="button" >

                            <button class="CTA btn px-4 py-3 rounded" style="border:5px solid #3498db" type="button">

                                <img class="mr-2" src="/images/app/addProject.svg" width="25px" height="25px">

                                <span class="h4 font-weight-bold round" style="letter-spacing: 2px;"> Présenter un Projet</span>
                            
                            </button>
                            
                        </a>
                        
                    </div>
         
                </div>


            </div>
        </div>

    </div>

    <style>
        
        .step .row{
            height : 300px;
        }

        .step-text{
            font-weight:bold;
        }

        .listOtherPossibilities{
            font-size:22px;
        }

        .CTA{
            background-color: rgb(228, 255, 188); 
        }

        .CTA:hover{
            background-color:rgb(213, 255, 149);
        }

        @media screen and (max-width: 580px) {



            .step{
                margin-bottom : 30px;
                border:2px solid black;
            }

            .step .row{
                height:auto !important;
            }

            .step-image{

                padding: 15px 15px;

                display:flex;
                justify-content: center;
            }

            .step-image img{
                width:200px;
            }

            .step-description{

                padding: 10px 20px;
            }

            .step-text{

                font-size: 1.2em;
            }

            .pageTitle{
                font-size: 1.8em;
                margin-top : 31px;
                margin-bottom : 31px;
             }

            .step-number{
                height: 50px;
             }

             .listOtherPossibilities{
                font-size:17px;
            }


        }
        
    </style>

{% endblock %}
