{% extends 'base.html.twig' %}

{% block title %}Guide d'Utilisation Rapide{% endblock %}

{% block body %}

    <div class="container mt-4 mt-md-5">

        <h3 class="pageTitle font-weight-bold h2 mb-5 pl-md-4">Présentation du site</h3>

          <!-- How to use the website, Step By Step -->

        <div class="container mt-5 mb-md-5">
            
             <!-- First Step -->

            <div class="row step">

                <div class="col-auto d-flex align-items-end">
                    <span class="listNumber h1">1.</span>
                </div>

                <div class="col-auto d-flex align-items-end mb-3 mb-md-0">
                    <img src="images/static/quick_user_guide/write_goal.png" class="img-fluid" alt="" srcset="" style="width:360px;">
                </div>

                <div class="step-text col fs-15 d-flex align-items-end">

                    <h4 class="step-text">Écrivez l'objectif de votre Projet</h4>
                  
                </div>

            </div>

             <!-- Second Step -->

            <div class="row step">

                <div class="col-auto d-flex align-items-center">
                    <span class="listNumber h1">2.</span>
                </div>

                <div class="col-auto d-flex justify-content-center align-items-center mb-3 mb-md-0">
                    <img src="images/static/quick_user_guide/bulletin_board.png" class="img-fluid" alt="" srcset="">
                </div>

                <div class="step-text col fs-15 d-flex align-items-center">

                    <h4 class="step-text ">Présenter les informations que vous voulez, par exemple une description et quelques images</h4>
                  
                </div>

            </div>

             <!-- Third Step -->

            <div class="row step">

                <div class="col-auto d-flex align-items-center">
                    <span class="listNumber h1">3.</span>
                </div>

                <div class="col-auto d-flex justify-content-center align-items-center mb-3 mb-md-0">
                    <img src="images/static/quick_user_guide/et_voila.png" class="img-fluid" alt="" srcset="">
                    
                </div>

                <div class="col fs-15 d-flex align-items-center">

                    <h4 class="step-text ">Vous obtenez une présentation structurée de votre projet. Partagez son adresse. Les visiteurs peuvent s'abonner à votre présentation. Ils reçoivent les news de votre projet</h4>
                  
                </div>

            </div>

             <!-- Fourth Step -->

            <div class="row step">

                <div class="col-auto d-flex align-items-center">
                    <span class="listNumber h1">4.</span>
                </div>

                <div class="col-auto d-flex justify-content-center align-items-center mb-3 mb-md-0" style="width:420px;">
                    <img src="images/static/quick_user_guide/launch.svg" class="img-fluid" alt="" srcset="" style="width:300px">    

                </div>

                <div class="col fs-15 d-flex align-items-center">

                    <div class="step-text ">
    
                        <h4 class="mb-4">Plusieurs possibilités sont prévues pour faire progresser votre projet. Par exemple : </h4>
                                
                        <ul class="fs-15 font-weight-bold">
    
                            <li>présenter vos besoins</li>
                            <li>recevoir des commentaires</li>
                            <li>être contacté</li>
    
                        </ul>

                    </div>
                  
                </div>

            </div>
            
        </div>

         <!-- Call to Action (Present a Project) -->

         <div class="container pt-3 mb-5">

            <div class="row pl-md-4 d-flex justify-content-center"> 
    
                <a href="{{path('create_presentation')}}" class="font-weight-bold my-1" type="button" >

                    <button class="CTA btn px-4 py-3" style="border:3px solid #217dbb" type="button">

                        <img class="mr-2" src="/images/app/addProject.svg" width="25px" height="25px">

                        <span class="h4 font-weight-bold round" style="letter-spacing: 2px;"> Je présente mon Projet</span>
                    
                    </button>
                    
                </a>


            </div>
                    
         </div>

    </div>

    <style>

        .step{
           margin-bottom: 80px;
        }

        .step img{
            width:380px;
        }
        

        .step-text{
            width:400px;
        }

        .CTA{
            background-color: greenyellow;
        }

        .CTA:hover{
            background-color: rgb(220, 250, 176);
        }

        @media screen and (max-width: 580px) {

            .pageTitle{
                font-size: 1.8em;
             }

            .listNumber{
                font-size: 1.7em;
             }

            .step{
                margin-bottom: 30px;
             }

            .step-text{
                font-size:1.3em;
             }


        }
        
    </style>

{% endblock %}
