

<div id="displayChangelogModal" class="modal" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

        <div class="modal-header">

            <h5 class="modal-title">Dernières Modifications</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>

        </div>

        <div class="modal-body">

            <div class="mb-2">
            
                <strong>29 - 04 - 2020 :</strong>
                                    
                <ul class="h5">
                    
                    <li>Liste de Projets Affichées à l'utilisateur : retrait des Thumbnails. Désormais, seulement du texte.</li>

                    <li>Ajout d'un type de catégorie de projets : "organiser des données"</li>

                </ul>
            
                <strong>28 - 04 - 2020 :</strong>
                                    
                <ul class="h5">
                    
                    <li>restriction d'accès aux modifications d'un projet, en fonction des droits du visiteur/utilisateur</li>

                    <li>Les suppressions des diapo-pitch sont désormais réalisées avec une requête ajax</li>

                </ul>
            
                <strong>27 - 04 - 2020 :</strong>
                                    
                <ul class="h5">

                    <li>Suppression des Projets Fictifs en Latin (en prévision de l'insertion d'exemples de projets réels, prévue dans les jours à venir)</li>
                    
                    <li>Correction de quelques bugs visuels</li>

                </ul>
            
                <strong>25 - 04 - 2020 :</strong>
                                    
                <ul class="h5">

                    <li>Création d'une page de Crédits et Remerciements (accessible via le footer)</li>

                </ul>
            
                <strong>24 - 04 - 2020 :</strong>
                                    
                <ul class="h5">

                    <li> Activer / Désactiver les Messages Privés (aller dans le menu paramètres nouvellement créé pour l'occasion)</li>

                </ul>
            
            
                <strong>23 - 04 - 2020 :</strong>
                                    
                <ul class="h5">

                    <li> Travaux sur l'ui de gestion des messages privés (tags messages non lus, nombre de non lus dans le dashboard, etc)    
                    </li>

                </ul>
            
                <strong>22 - 04 - 2020 :</strong>
                                    
                <ul class="h5">

                    <li> Premier Test Modeste d'insertion d'un Dashboard     
                    </li>

                    <li>Travaux visuels en cours sur le CRUD des Besoins d'un Projet</li>

                    <li>Ouverture de la possibilité d'envoyer des messages privés aux présenteurs de projets, et consultation de ces messages</li>

                    <li>Intégration d'icônes dans la sidebar (merci Flaticon et ses Contributeurs, la page de crédits et remerciements est sur la to do list)</li>

                </ul>
            
                <strong>21 - 04 - 2020 :</strong>
                                    
                <ul class="h5">

                    <li> 
                        <strong> Possibilité de se connecter à un compte utilisateur de démonstration (adresse email : test@test.com  mot de passe : test);</strong>                        
                    </li>

                    <li>Possibilité de voir son profil d'utilisateur (affichage encore précaire);</li>

                    <li>possibilité de modifier son profil d'utilisateur (l'upload d'image de profil n'est pas encore implémenté);</li>

                    <li>Affichage du Logo d'un Projet dans sa page de présentation;</li>

                    <li>Contrôle de l'Affichage des Besoins d'un Projet quand le projet a plus de 5 besoins;</li>

                </ul>

            </div>

            <div class="mb-2">
            
                <strong>19 - 04 - 2020 :</strong>
                                    
                <ul class="h5">

                    <li>Possibilité <strong> d'uploader</strong> le logo d'un projet (pour cela, aller dans le menu "généralités" d'un projet) (attention, <strong>l'affichage</strong>  de ces logo n'est pas encore effectif)</li>

                    <li>Possibilité <strong> d'uploader</strong> la thumbnail d'un projet (pour cela, aller dans le menu "généralités" d'un projet) (attention, <strong>l'affichage</strong>  de ces thumbnails n'est pas encore effectif)</li>

                </ul>

            </div>

            <div class="mb-2">

                <strong>17 - 04 - 2020 :</strong>
                        
                <ul class="h5">

                    <li>Ajout des Icônes des Catégories de Projets (merci Flaticon et ses Contributeurs)</li>

                    <li>Ajout d'un formulaire d'édition des mots-clés d'un projet dans la partie catégories</li>

                    <li>Refonte visuelle du formulaire d'édition des généralités d'un projet</li>

                    <li>Refonte visuelle de la fenêtre modale de séléction d'un type de Slide pour son diaporama</li>

                </ul>

            </div>

            <div class="mb-2">

                <strong>16 - 04 - 2020 :</strong>
                        
                <ul class="h5">

                    <li>Insertion des catégories et des icônes dans le Menu Matéral</li>

                    <li>Factorisation de l'ui du CRUD des Diapos</li>

                </ul>

            </div>

            <div class="mb-2">

                            <strong>15 - 04 - 2020 :</strong>
                                    
                            <ul class="h5">

                                <li>Possibilité de pitcher avec des diapos texte</li>

                                <li>Possibilité de Réordonner les diapos avec un Drag and Drop</li>

                                <li>Premiers essais d'intégration d'un menu latéral de gestion d'une présentation de projet</li>

                            </ul>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Retour</button>
        </div>
        </div>
    </div>
</div>