
    {% for label , messages in app.flashes %}

        <!-- Flash Messages Display -->

        <div class="flashMessage d-flex align-items-center alert alert-{{label}} mt-3 h5 font-weight-bold mx-md-3 sharp">

            {% for message in messages %}

                <p class=" p-0 m-0">{{message | raw}}</p>

            {% endfor %}

        </div>

        <style> /*

            .flashMessage {
              
                -webkit-animation: fadeinout 4s linear forwards;
                animation: fadeinout 4s linear forwards;
                opacity: 0;
            }
            
            @-webkit-keyframes fadeinout {
              50% { opacity: 1; }
            }
            
            @keyframes fadeinout {
              50% { opacity: 1; }
            }*/
            
        </style> 

    {% endfor %}
