<footer class="mt-3 bg-color-light py-5 text-center">
    
    <ul class="list-group">
        <li class="list-group-item border-0"><a href="{{path('credits_show')}}" class="text-body font-weight-bold text-white">- Crédits et Remerciements -</a></li>
    </ul>


    <p>Copyright ProtoRoad</p>

</footer>