
<!-- Sidebar Items Names paired with their Access Route Names  -->

{% set sidebarItems = [ 

    { 'name': 'Accueil', 'route': 'project_dashboard_show'}, 
    { 'name': 'Résultat', 'route': 'project_show'}, 
    { 'name': 'Généralités', 'route': 'project_edit'}, 
    { 'name': 'Messages', 'route': 'index_project_messages'}, 
    { 'name': 'Diapo Pitch', 'route': 'slideshow_index'}, 
    { 'name': 'Contact Infos', 'route': 'contact_index'}, 
    { 'name': 'Besoins', 'route': 'need_index'}, 
    { 'name': 'Catégories', 'route': 'index_categories'}, 
    { 'name': 'Lieux', 'route': 'places_city_manage'}, 
    { 'name': 'Sites Web', 'route': 'websites_index'}, 

] %}


<!-- Sidebar Template  -->

<nav id="sidebar" class="">

    <ul class="list-unstyled components bg-light border border-primary mt-4">

        {% for item in sidebarItems %}

            

            <li class="font-weight-bold">
                <a href="{{ path(item.route, {'slug':presentation.slug}) }}">   
                    {{item.name}}
                </a>
            </li>

        {% endfor %}


    </ul>

    <!-- adjoining ul exemple -->

    <!-- <ul class="list-unstyled CTAs">

    </ul> -->

</nav>

<!-- Collapsible Menu Item Example -->

<!-- 
        <li class="active h5">

            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-home"></i>
                Accueil
            </a>

            <ul class="collapse list-unstyled" id="homeSubmenu">

                <li>
                    <a href="#">Home 1</a>
                </li>

                <li>
                    <a href="#">Home 2</a>
                </li>

                <li>
                    <a href="#">Home 3</a>
                </li>

            </ul>

        </li> -->




       <!-- icons examples  🏠  📺  ⮞   ⭐   🖂  🌍    @  ☛  ■ ● www  -->
