{% extends 'base.html.twig' %}

{% block title %}Messages du Projet{% endblock %}

{% block sidebar %} 

    {% include 'partials/sidebar.html.twig' %} 
    
{% endblock %}


{% block css %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>

{% endblock %}


{% block body %}


<style>

    .unreadBadge{
        display:none;
    }

    .unreadMessage{
        font-weight:bold;
    }

    .unreadMessage .unreadBadge{
        display:initial;
    }

</style>


<div class="container-fluid">

    <!-- ui Page Title -->

    <h3 class="my-4 font-weight-bold">Messages pour ce projet</h3>
    
    <!-- Display Specific Message (in a Modal Box) -->

        {% include 'contact_message/_list/_modal_display.html.twig' %}

    <!-- Manage Messages (in a Table) -->

        {% include 'contact_message/_list/_table.html.twig' %}

    <!-- Back button -->

    <div>

        <a class="text-decoration-none text-white" href="{{ path('edit_presentation_menu', {'slug': presentation.slug }) }}">
            <button type="button" class="btn btn-warning btn-lg font-weight-bold mt-2 mb-4 sharp">
                
                Menu
            
            </button>

        </a>

    </div>

</div>


{% endblock %}


{% block javascripts %}

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

<script>

    $(document).ready( function () {

        // ui plugin to paginate, order, search in a table

        $('#messagesTable').DataTable( {
            "order": [],
            language: {
                processing:     "Traitement en cours...",
                search:         "Rechercher&nbsp;:",
                lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                infoPostFix:    "",
                loadingRecords: "Chargement en cours...",
                zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                emptyTable:     "Aucune donnée disponible dans le tableau",
                paginate: {
                    first:      "Premier",
                    previous:   "Pr&eacute;c&eacute;dent",
                    next:       "Suivant",
                    last:       "Dernier"
                },
                aria: {
                    sortAscending:  ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            },
        } );

       


        // When Click on a Message Title, Display this Message in a Modal Box

        $('#messagesTable tbody').on('click', 'td:not(.messagesActions)', function (){

            var messageId = $(this).closest('tr').attr('data-message-id');
            var messageTitle = $(this).closest('tr').attr('data-message-title');
            var messageDate = $(this).closest('tr').attr('data-message-date');
            var messageHour = $(this).closest('tr').attr('data-message-hour');
            var messageSender = $(this).closest('tr').attr('data-message-sender');

            var messageContent =  '<div class="p-3"><div class="loader"></div></div>';


            $('#modalBox #modalBoxTitle').html(messageTitle);
            $('#modalBox #dateString').html(messageDate);
            $('#modalBox #hourString').html(messageHour);
            $('#modalBox #emailString').html(messageSender);
            $('#modalBox #messageContent').html(messageContent);

            $('#modalBox').modal('show');
            

            // Get Message Content and Then Show Modal Box

            $.ajax({  
                url: "{{path('ajax_get_message_content', {'slug': slug}) }}",
                type:       'POST',   
                dataType:   'json',
                data: {
                  "messageId": messageId,
                },

                async: true,  
                
                success: function(data, status) {

                    messageContent = data.messageContent;

                    $('#modalBox #messageContent').text(messageContent);

                    var test = $( "tr[data-message-id="+ messageId + "] td" ).removeClass("unreadMessage");
                                        
                },  

                error : function(xhr, textStatus, errorThrown) {  
                    alert('Ajax request failed.');  
                }  
             }); 

        });


        // Delete a Message

        $('#messagesTable').on('click', '.js-delete-message', function (){
            
            var messageId = $(this).closest('tr').attr('data-message-id');
           
            //alert(messageId);

            if (confirm("Voulez vous Supprimer ce Message?"))
            {
                $(this).html('<div class="loader"></div>');


                $.ajax({  

                    url: "{{path('ajax_delete_message', {'slug': slug}) }}",
                        type:       'POST',   
                        dataType:   'json',
                        data: {
                        "messageId": messageId,
                        },

                    async: true,  
                    
                    success: function(data, status) {

                        $("#messagesTable").find("[data-message-id="+messageId+"]").remove();
    
                    },  

                    error : function(xhr, textStatus, errorThrown) {  
                        
                    }  
                 });       

             }; 
                
        });

    } );

</script>

{% endblock %}
