

<style>

    .choice:hover{
        background-color:gainsboro;
    }


</style>



<div id="chooseSlideTypeModal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title justify-content-center text-info font-weight-bold h3" id="gridModalLabel">Choisir le Type de Diapo</h5>

                <button type="button" class="btn close rounded btn-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

            </div>


            <div class="modal-body">

                <div class="container-fluid cursor-pointer">

                    <a href="{{ path('slideshow_images_add', {'slug':slug}) }}">
                        
                        <div class="choice row border-top border-bottom border-primary">

                        <div class="col-md-4 d-flex align-items-center justify-content-center">

                            <span class="h1 font-weight-bold">🖽</span>

                        </div>

                        <div class="col h5 font-weight-bold d-flex align-items-center">
                            Images
                    
                        </div>
                        
                        </div>
                
                    </a>

                    <a href="{{ path('slideshow_text_add', {'slug':slug}) }}">

                        <div class="choice row border-bottom border-primary py-md-2">

                            <div class="col-md-4 d-flex align-items-center justify-content-center">

                                <div class="border border-2 border-primary rounded p-md-1">
                                    Du <strong>Texte </strong> <br> dans <strong class="text-warning">la Diapo</strong>
                                    
                                </div>

                            </div>

                            <div class="col h5 font-weight-bold d-flex align-items-center">
                            
                            Diapo Texte
                        
                            </div>
                            
                        </div>
                    </a>

                    <a href="{{ path('slideshow_video_add', {'slug':slug}) }}">

                        <div class="choice row border-bottom border-primary py-md-4">

                            <div class="col-md-4 d-flex align-items-center justify-content-center">

                                <div class="bg-danger rounded">

                                    <span class="arrowCar text-white font-weight-bold h3 p-md-3 py-md-5">►</span>
                                </div>

                            </div>

                            <div class="col h5 font-weight-bold d-flex align-items-center">
                                Vidéo Youtube
                        
                            </div>
                            
                        </div>

                    </a>

                    





                </div>

            </div>

            <div class="modal-footer">

            <button type="button" class="btn btn-info font-weight-bold" data-dismiss="modal">Retour</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            
            </div>
            
        </div>

    </div>

</div>
    
    
    





