
.form-field-required{
  color:red;
}

label, legend {
    font-size:1.25em !important;
    font-weight : bold !important;
}
    
input {
    color:black !important;
    font-size:1.25em !important;
    /* width: 100%; */
    /* padding: 12px 12px; */
    margin: 4px 0;
    /* display: inline-block; */
    border-radius: 4px;
    /* box-sizing: border-box; */
  }

  textarea {
    color:black !important;
    font-size:1.15em !important;
    line-height: 1.15em !important;
    width: 100%;
    height: 120px !important;
    padding: 12px 12px !important;
    resize: none;
  }

  select{
    font-weight:bold !important;
    font-size:1.15em !important;
  }

  /* Place Holders */

  ::-webkit-input-placeholder { /* Edge */
    font-size:1.15em;
    color:black;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size:1.15em;
    color:black;
  }
  
  ::placeholder {
    font-size:1.15em !important;
    color: rgb(49, 25, 93)  !important;
  }

  /* BS 4 Form Errors Display */

.form-error-icon{
    font-size:1.15em;
    margin-right:2px;
}

.form-error-message{
    font-size:1.15em !important;
}


/* BS 4 File Input : show file name */

.custom-file-label { opacity: 0; }
.custom-file-input { opacity: 1; }
