{% extends 'base.html.twig' %}

{% block title %}Projets suivis{% endblock %}

{% block body %}

    <!-- Page Content Container -->

    <div class="container">

        <div class="row mb-4">
            
            <!-- Notifications List -->
            
            {% include '/user_follows/_show_notifications/_list_notifications.html.twig' %}
            

            <!-- Modal Box Display Notification Content -->

            {% include '/user_follows/_show_notifications/_content_display_modal.html.twig' %}

            <!-- Actions Button -->

            <div class="container col-md-10">

                <!-- Manage Projects Follows -->

                <a class="text-decoration-none text-white" href="{{ path('manage_follow') }}">
                    <button type="button" class="btn btn-primary font-weight-bold mr-3 mt-2 mb-4 sharp">Gérer les projets suivis</button>
                </a>

                <!-- Back Button -->

                <a class="text-decoration-none text-white" href="{{ path('homepage') }}">
                    <button type="button" class="btn btn-info font-weight-bold mt-2 mb-4 sharp">Retour</button>
                </a>

            </div>
        
        </div>

    </div>

    <style>
        body{
            background-color:aliceblue;
        }
    </style>

{% endblock %}

{% block javascripts %}

    {% include '/user_follows/_show_notifications/_js.html.twig' %}

{% endblock %}



