

    <!-- Persorg Image -->
    
    <div class="d-flex justify-content-center" style="margin-top:15px; margin-bottom:8px;">

        {% if persorg.imageFile is not null %}

            <img class="img-fluid" src="{{ asset('/images/persorgs/' ~ persorg.image) | imagine_filter('teammate_thumbnail') }}" height="100px" width="100px">
        
        {% else %}
                                
        <div class="avatar-circle mx-auto" style="margin-top:25px;">

            <span class="initials">

                {{persorg.name | slice (0,1) | capitalize}}

            </span>

        </div>
    
    {% endif %}

    </div> 

    <!-- Persorg Name -->

    <div class="d-flex justify-content-center font-weight-bold" style="margin-bottom:8px; font-size:1.15em;">

        {{ persorg.name | length < 10 ? persorg.name : persorg.name|slice(0, 10) ~ '...' }}

    </div>
