
<div class="p-1">

    {% if website.description is not null %}

        <h5 class="websiteDescription mb-1">
            
            {{website.description | first | capitalize ~ website.description | slice(1,50) }}

            {% if website.description | length > 50 %}
            ...
            {% endif %}

        </h5>

    {% endif %}

    <p class="websiteUrl mb-1">

        {{website.url | slice(0,50)}}

        {% if website.url | length > 50 %}
        (...)
        {% endif %}
    
    </p>

</div>
                                    