  
<div class="row">
    
    {# First Column displays website Logo (exemple : Youtube Logo or a Default Logo (One letter Logo) #}
        
    <div class="col-3 d-flex align-items-center justify-content-center">

        <div data-website-url="{{website.url}}" class="js-logo-container">

            {# handled by pp/js_show/websites_logo.html.twig #}

        </div>

    </div>

    {# second Column displays website url and website description if it exists #}

    <div class="col-9 pl-0 d-flex align-items-center">

        <div>
                    
                {# website title #}

                {% if website.description is not null %}

                    <h5 class="websiteDescription mb-1">
                        
                        {{website.description | first | capitalize ~ website.description | slice(1,50) }}

                        {% if website.description | length > 50 %}
                        ...
                        {% endif %}

                    </h5>

                {% endif %}

                {# website url #}

                <p class="websiteUrl mb-1">

                    {{website.url | slice(0,50)}}

                    {% if website.url | length > 50 %}
                    (...)
                    {% endif %}
                
                </p>

        </div>

    </div>

</div>  


                                    