{% extends 'base.html.twig' %}

{% block title %}Réglages{% endblock %}

{% block stylesheets %}<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block sidebar %}{% include 'partials/sidebar.html.twig' %}{% endblock %}

{% block body %}

    <div class="container">

        <h3 class="mt-4 mb-4">Réglages</h3>

        <!-- Private Messages Switch Activation -->

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body pr-md-0">
                <div class="row no-gutters align-items-center">
                    
                    <div class="col">

                    <div class="font-weight-bold fs-15 text-uppercase mb-3" style="color:#0051fc" >Activation des messages privés</div>

                        <div class="h5 font-weight-bold">

                            <span class="pr-2">Non</span>
                                
                            <input id="activeContactMessagesSwitch" type="checkbox" data-toggle="toggle" data-width="80" data-on=" <b>Oui</b>" data-off="<b>Non</b>" data-onstyle="success" data-offstyle="danger"
                                    
                                {% if presentation.isActiveContactMessages %}
                                
                                    checked 
                                
                                {% endif %}

                            >
                           
                            <span class="pl-2">Oui</span>

                        </div>                           

                </div>
                </div>
                </div>
            </div>
        </div>


        <!-- Publish Presentation, or Keep it as a Draft -->

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                <div class="row no-gutters align-items-center">
                    
                    <div class="col">

                    <div class="font-weight-bold fs-15 text-uppercase mb-3" style="color:#0051fc;">Publier la présentation</div>

                        <div class="h5 font-weight-bold">

                            <span class="pr-2">Non</span>
                                
                            <input id="publishPresentationSwitch" type="checkbox" data-toggle="toggle" data-width="80" data-on=" <b>Oui</b>" data-off="<b>Non</b>" data-onstyle="success" data-offstyle="danger"
                                    
                                {% if presentation.isPublished %}
                                
                                    checked 
                                
                                {% endif %}

                            >
                           
                            <span class="pl-2">Oui</span>

                        </div>                           

                </div>
                </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}


{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <script>

        $(document).ready(function(){ 
            
            $('#publishPresentationSwitch').on('change.bootstrapSwitch', function(e) {
                $.ajax({
                    method: 'POST',
                    url:  "{{path('ajax_publish_presentation_switch', {'slug': presentation.slug}) }}",
                    data: {
                        'checkboxValue': e.target.checked
                    },
                    dataType: 'json',
                    success: function(data){
                    }
                });
            });

        
        });  


    </script>

{% endblock %}