            
    <form method="post" action="{{ path('need_delete', {'id': need.id, 'slug':slug}) }}" onsubmit="return confirm('Etes vous sûr de supprimer ce besoin ?');">

        <input type="hidden" name="_method" value="DELETE">

        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ need.id) }}">

        <button class="btn btn-danger sharp font-weight-bold">x</button>

    </form>



