{% extends 'base.html.twig' %}

{% block title %}Modifier un besoin{% endblock %}

{% block body %}

    <div class="container">
        
        <h3 class=" my-3 my-md-4 font-weight-bold">Modifier un besoin</h3>

        {{ include('need/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    </div>

{% endblock %}
