{% extends 'base.html.twig' %}

{% block title %}Modifier un Besoin{% endblock %}

{% block body %}

    <div class="container">
        
        <h3 class="mt-3 font-weight-bold">Modifier un Besoin</h3>

            {{ include('need/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        
            {{ include('need/_delete_form.html.twig', {'slug': slug}) }}

    </div>

{% endblock %}
