{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Ajouter un Besoin{% endblock %}

{% block body %}

    <div class="container">

        <h2 class="font-weight-bold my-3">Ajouter un besoin</h2>
    
        {{ include('need/_form.html.twig') }}

    </div>

{% endblock %}
