{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Qui sommes nous ?{% endblock %}

{% block body %}

    <div class="container">

        <div class="subpart">

            <h3 class="subpart-title">Qui sommes nous ?</h3>

            <div class="subpart-content">

                <p class="subpart-paragraph">
                Je m'appelle Laurent GAILLARD et je suis passionné par la présentation des projets. J'aimerais la rendre plus complète, accessible, et pratique. C'est pourquoi j'ai décidé de créer ce site. 
                </p>

            </div>

        </div>



<!-- 
        <h3 class="my-5">Le manifeste du Projet des Projets</h3>

        <div>

            <p class="h5 pl-md-4 col-md-8 text-justify">
                Pourquoi présenter les projets nous semble si important ? Notre réflexion est expliquée dans le Manifeste du Projet des Projets. Vous pouvez le consulter ici.
            </p>

        </div> -->


        <div class="subpart">

            <h3 class="subpart-title">Participer</h3>

            <div class="subpart-content">

                <p class="subpart-paragraph">
                    Le Projet des Projets à besoin de vous pour être développé. Toutes vos remarques, critiques, idées, et autres propositions sont les bienvenues. N'hésitez pas à nous contacter avec le formulaire ci-dessous.
                </p>

            </div>

        </div>

        <div class="subpart">

            <h3 class="subpart-title">Pour tout contact</h3>

            <div class="subpart-content">

                <p class="subpart-paragraph">
                    Vous pouvez accéder au formulaire de contact en cliquant <a href="{{path('contact_website')}}"> <span class="badge badge-info">ici</span></a>
                </p>

            </div>

        </div>
        

    </div>

    <style>

        .container .subpart:first-child{
            margin-top : 50px;
        }

        .subpart{
            
            margin-bottom: 10px;

            width: 740px;

        }

        .subpart-title{
            font-weight: bold;
            margin-bottom:20px;
        }

        .subpart-content{
            font-size: 1.3em;
            
            padding : 10px 20px;
        }

        .subpart-paragraph{
            margin-bottom: 15px;
        }

        @media screen and (max-width: 580px) {

                
            .container .subpart:first-child{
                margin-top : 35px;
            }

            .subpart{
            
                width:100%;
                margin-bottom:19px;
    
            }

            .subpart-title{
            
                font-size:1.5em;
                margin-bottom:10px;
    
            }

            .subpart-content{
            
                padding : 0px 10px;
                font-size: 1.1em;
    
            }

        }

    </style>
  
{% endblock %}