{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

            <h3 class="ui-page-title font-weight-bold my-5">Conditions générales d'utilisation</h3>

            <div class="indent-container">

                <div class="section row col-lg-9">

                    <h4 class="font-weight-bold">
                        Types de projets acceptés
                    </h4>

                  <!--   <p>
                        La présentation d’un projet sur le site est soumise à une étape d'acceptation préalable des administrateurs du site, qui décident, de manière discrétionnaire et sans indemnité aucune, si le projet peut ou non faire l’objet d’une publication sur le site.

                    </p> -->

                    
                    <p class="">

                        Les administrateurs se réservent le droit d'accepter ou de refuser la publication des présentations de projets sur le site<!--  par une simple notification aux présentateur de projets -->, sans indemnités ni droit à remboursement, et sans obligation de justifier leur décision.

                    </p>

                    <p class="">

                        Les administrateurs du site  se réservent le droit de demander aux présentateurs de projets tous les compléments et précisions qu’ils estimeront nécessaires pour décider si la présentation de projet est publiable ou non.

                    </p>
            
                </div>

                <div class="section row col-lg-9">

                    <h4 class="">Exemples de projets non acceptés</h4>

                    <ul>
                        <li class="">Projets qui ne sont pas en conformité avec la loi française et les règlements français en vigueur, ou en conformité avec la loi en vigueur dans le pays d'utilisation du site.</li>

                        <li class="">Projets qui contiennent un objectif ou une procédure visant à soutenir des individus ou des organisations qui ne sont pas en conformité avec la loi française, ou en conformité avec la loi en vigueur dans le pays d'utilisation du site.</li>

                        <li class="">Projets dangereux pour les participants.</li>

                        <li class="">Projets dont l'objectif est d'acheter ou de vendre un ou plusieurs objets (sauf sur dérogation demandée au préalable en utilisant le formulaire de contact du site (par exemple pour une oeuvre de mécénat))</li>

                        <li class="">Projets dont l'objectif est évasif, vague, ou indéfini.</li>

                        <li class="">Projets qui contiennent un objectif ou une procédure qui sont susceptibles d'engendrer un ou plusieurs des comportements suivants : violence; haine; aggression; menace; insulte; intimidation; harcèlement; discrimination; diffamation; non respect de la vie privée, et cela envers tout individus, groupe d'individus, ou organisations de toute sortes. 

                            <br><br>
                            En particulier : projets qui contiennent au moins une incitations à la violence ou à la haine; ou menaces, envers une personne ou un groupe en raison de son origine ethnique, ses idées, sa religion, son handicap, son sexe, son genre, son orientation sexuelle, son âge, sa nationalité, son apparence physique.

                        </li>

                    </ul>
    
                </div>

                <div class="section row col-lg-9">

                    <h4 class="">Exemples de présentations de projets non acceptées</h4>
                    
                    <p class="">

                        Les présentations de projets qui délivrent une information incomplète, ou partielle, ou inexacte, ou incohérente, ou incompréhensible. Par exemple les "projets" sans objectif ou sans aucune description.

                    </p>
        
                </div>

                <div class="section row col-lg-9">

                    <h4 class="">Contenus refusés dans les présentations de projets</h4>

                    <p class="">

                        Les contenus de présentations de projets, y compris les commentaires apportés par des tiers, sous toutes formes et médias possibles (textes; images; vidéos; liens hypertexte; fichiers numériques), qui contiennent un ou plusieurs des éléments suivants, ne sont pas acceptés sur le site :

                    </p>


                    <ul>
                        
                        <li class="">

                            Contenus qui ne sont pas en conformité avec la loi française ou la loi en vigueur dans le pays d'utilisation du site.

                            <br><br>

                            En particulier : contenus qui contiennent au moins une incitation à la violence ou à la haine; ou menaces, envers une personne ou un groupe en raison de son origine ethnique, ses idées, sa religion, son handicap, son sexe, son âge, sa nationalité, son orientation sexuelle, son identité sexuelle, son apparence physique.

                        </li>

                        <li class="">Contenus susceptibles de déclencher un ou plusieurs des comportements suivants : violence; haine; aggression; menace; insulte; intimidation; harcèlement; discrimination; diffamation; non respect de la vie privée, envers un ou plusieurs individus, groupes d'individus, ou organisations de toutes sortes. 

                        </li>

                        
                        <li class="">

                            Contenus visant à soutenir des individus ou des organisations qui ne sont pas en conformité avec la loi française ou la loi du pays d'utilisation du site.

                        </li>

                        <li class="">
                            Pornographie, nudité, contenus à caractère sexuels.
                        </li>

                        <li class="">
                            Contenus qui ne respectent pas les droits d'auteurs (utilisez seulement des contenus que vous avez créées ou que vous êtes autorisé à utiliser). 
                        </li>

                        <li class="">
                            Contenus trompeurs : les titres de projets; descriptions de projets; mot-clés; images et autres médias utilisés qui engendrent l'ambiguïté, la tromperie, ou la confusion, par exemple pour attirer plus d'utilisateurs, ou attirer certains types d'utilisateurs.
                        </li>

                        <li class="">
                            Contenus qui contiennent des informations inexactes.
                        </li>
        
                        <li class="">
                            Contenus qui divulguent des informations privées ou confidentielles.
                        </li>

                        <li class="">
                            Contenus qui mettent en danger le bien-être émotionnel ou physique des mineurs. Un mineur est une personne n'ayant pas l'âge minimum légal, c'est-à-dire ayant généralement moins de 18 ans dans la plupart des pays.
                        </li>

                    </ul>

                </div>

                <div class="section row col-lg-9">

                    <h4 class="">Doublons de présentations de projets</h4>

                    <p class="">

                        Les administrateurs se réservent le droit de refuser, ou de retirer de la publication, les présentations de projets qui sont déjà publiés sur le site, que le doublon constitue une copie exacte, ou une copie en substance. Les doublons de présentations sont refusés à la publication, et deviennent inaccessible à la consultation après publication, et cela sans avertissement préalable.

                    </p>

                </div>

                <div class="section row col-lg-9">

                    <h4 class="">Usurpations d'identités</h4>

                    <p class="">

                        Les comptes créés; et les contenus présentés, qui usurpent l'identité d'un individu, d'une organisation, ou d'un groupe d'individus; ou qui crééent l'ambiguïté, la tromperie, ou la confusion, par exemple imitations de logos; imitations de noms, sont supprimés conformément à nos règles en matière d'usurpation d'identité.

                    </p>

                    <p class="">

                        Ces règles s'appliquent également aux vidéos, aux textes, aux images, aux éventuels commentaires, et à tout autre produit, contenu, ou fonctionnalités du site web. Veuillez noter que cette liste n'est pas exhaustive.
                    
                        Exemples : 

                    </p>

                    <ul>

                        <li> 
                            
                            Comptes dont le nom ou les images sont identiques à ceux d'un autre compte, la seule différence étant par exemple un espace inséré dans un nom; ou un zéro remplaçant la lettre O.
                            
                        </li>
            
                        <li>

                            Créations de comptes avec utilisation d'images ou autres informations personnelles d'une tierce personne ou organisation dans le but de tromper le public et de se faire passer pour cette personne ou cette organisation. 	
                        
                        </li>

                    </ul>

                </div>

                <div class="section row col-lg-9">

                    <h4 class="">Suppressions de présentations de projets</h4>

                    <p class="">

                        Les administrateurs se réservent le droit de suspendre provisoirement, ou supprimer, sans préavis ni indemnité, ni droit à remboursement, toute présentation de projet qui ne serait pas conforme aux présentes conditions d'utilisation du site.

                    </p>

                    <h4 class="">Suppressions de présentations de projets non mises à jour</h4>

                    <p class="">

                        Au bout de 2 ans de non modification d'une présentation de projet, les administrateurs se réservent le droit de supprimer cette présentation de projet. Deux emails préalables peuvent être envoyés au créateur de la présentation, et cela plusieurs jours avant la date de suppression prévue, afin qu'il confirme et renouvelle la validité de sa présentation de projet s'il le souhaite.

                    </p>

                </div>

                <div class="section row col-lg-9">

                    <h4 class="">Suspensions ou suppressions de comptes utilisateurs</h4>

                    <p class="">

                        Les administrateurs se réservent le droit de suspendre ou de supprimer tout compte utilisateur dont au moins une activité contrevient aux règles mentionnées dans les présentes conditions générales d'utilisation.
            
                    </p>

                </div>

                <div class="section row col-lg-9">

                    <h4 class="">Signaler des abus</h4>

                    <p class="">

                        Il est permis à tout utilisateur du site de signaler tout contenu abusif :
            
                    </p>

                    <ul class="">
                        
                        <li class="">

                            soit en cliquant sur le bouton "signaler un abus" situé sur chaque page de projet
                        
                        </li>

                        <li class="">

                            soit en écrivant à l'administration du site, en utilisant le formulaire de contact.


                        </li>

                    </ul>

                </div>

            
            </div>
            

        </div>

    </div>


    {# Styles for CGU #}

    <style>

        .indent-container{
            margin-left:30px;
        }

        .section{
            margin-bottom:25px;
        }
        
        .section h4{
            font-weight:bold;
            margin-bottom:19px;
        }

        .section p, .section ul {
            font-size:1.15em;
            padding-left:27px;
        }

        .section ul{
            padding-left:50px;
        }

        .section li{
            padding-left: 10px;
            margin-bottom:15px;
        }


        @media screen and (max-width: 580px) {

            .indent-container{

                margin-left: 15px;
            }

            .section p, .section ul{
                padding-left:13px;
            }


            .ui-page-title{
            
                font-size: 1.6rem;
                padding-left: 15px;
            }


        }

    </style>
  
{% endblock %}


