{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block body %}

    <div class="container">

        <h3 class="my-4">Conditions Générales d'Utilisation</h3>

        <p>
            à venir
        </p>

        

    </div>
  
{% endblock %}