
{% extends 'base.html.twig' %}

{% block title %}Recherche de Projets par Catégories{% endblock %}

{% block body %}

<style>
        
    .catButton, #searchByCat {
    
        height:61.2px;

        font-size:1.1em;

        margin-right:23px;
        margin-bottom:-5px;

        line-height:1.4em !important;
        
        border-color:black !important;
        
    }

    .catButton:hover{
        background-color:gainsboro;
    }
    
    .leftDiv {
    
        width:50px !important;
        text-align:center;
        padding-left:7px;
        
    }
    
    .rightDiv {
        
        width:190px;
        padding-left:5px;
    }

    /* La selection de la classe parente Permet un Override du Hover */
    #catGrid .selectedCategory, #catGrid .selectedCategory:hover {
        background-color: yellow !important;
    }

</style>

<div class="container">

    <h3 class="mt-4 my-2">Combiner les Catégories Désirées</h3>
    

    <!-- Categories Grid -->

    <div id="catGrid" class="col-sm-10 clearfix ">

        {% for category in categories %}

        <div id="{{category.id}}" class="catButton cursor-pointer float-left border rounded row mt-3 d-table">

            <div class="leftDiv d-table-cell align-middle">
                <img id="" class="" src="/images/icons/categories/{{category.name}}.svg" alt="{{category.name}}" width="30" height="30">
            </div>
        
            <div class="rightDiv d-table-cell align-middle font-weight-bold">
                    {{category.descriptionFr}}
            </div>
        
        </div>

        {% endfor %}

        {# Search Button #}

        
        <div id="searchByCat" class="cursor-pointer float-left border rounded row mt-3 d-table bg-success">

            <div class="leftDiv d-table-cell align-middle">
                <img id="" class="" src="https://www.place-hold.it/30x30" alt="" width="30" height="30">
            </div>
        
            <div class="rightDiv d-table-cell align-middle font-weight-bold">
                    Chercher
            </div>
        
        </div>
        
    </div>

</div>
{% endblock %}



{% block javascripts %}

    <script>

        $(document).ready(function(){  

            $("#catGrid .catButton").on("click", function(event){ 

               var catId = $(this).attr('id');

               $(this).toggleClass("selectedCategory");


            });  
        });  

    </script>

{% endblock %}
