
<a class=" text-decoration-none text-body" href="{{ path('slideshow_index', {'slug':presentation.slug}) }}">
                        
    <div class="hoverZone card border-left-info shadow py-2 mb-3">

        <div class="card-body">
            
            <div class=" row no-gutters d-flex justify-content-center">

            <!-- Icon --> 
                    
            <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                <span style="color: DarkGreen">
                <!--  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
                <img src="/images/icons/edit_presentation/menu/images_videos.svg" width="37px" height="37px" alt="">
                </span>
                
            </div>

            <!-- Title -->

            <div class="col d-flex align-items-center justify-content-center">

                <div class="cat-menu-title">

                Images & Vidéos

                </div>

            </div>

            <!-- Counter -->

            <div class="col-auto d-flex align-items-center justify-content-center ml-2">

                {% if presentation.slides | length == 0 %}

                <span class="badgeCount badge badge-light text-danger">0</span>

                {% else %}

                    <span class="badgeCount badge badge-light">
                        {{ presentation.slides | length }}
                    </span>

                {% endif %}
                
            </div>

            </div>

        </div>

    </div>

    </a>
  