<a class="text-body" href="{{ path('project_show', {'slug':presentation.slug}) }}">

    <div class="hoverZone card border-left-info shadow py-2">

    <div class="card-body d-flex align-items-center justify-content-center">
        
        <div class="row no-gutters">
        <div class="col mr-2">

            <div class="cat-menu-title mb-md-4 ">Voir le Résultat</div>

            <div class="d-flex align-items-center justify-content-center">

                <img src="/images/icons/sidebar/presentation.svg" alt="See result icon" class="mx-auto" height:"65px" width="65px"> 

            </div>

        </div>

        </div>

    </div>

    </div>

</a>