{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/table_responsive.css">{% endblock %}

{% block title %} {{pGroup.name}} {% endblock %}

{% block body %}

    <div class="container">

        <h3 class="my-4">{{pGroup.name}}</h3>



        
    </div>


{% endblock %}
