{% extends 'base.html.twig' %}

{% block title %}Lien vers cette page de présentation{% endblock %}


{% block sidebar %} {% include 'partials/sidebar.html.twig' %} {% endblock %}


{% block body %}

<style>

  .myButton {
    box-shadow:inset 0px 1px 0px 0px #3dc21b;
    background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color:#44c767;
    border-radius:2px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    font-weight:bold;
    padding: 2px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
  }

  .myButton:active {
    position:relative;
    top:1px;
  }

  
.myButton2 {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}


.myButton2:active {
	position:relative;
	top:1px;
}

.button3 {
	background-color:#4557c7;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:6px 11px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  font-weight:bold;
}


.button3:active {
	position:relative;
	top:1px;
}
  
</style>

    <div class="container pl-md-4">

        <div class="container-fluid mt-4">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-2">
            
            <h1 class="h3 mb-0 text-gray-800">Liens vers la page de présentation</h1>
          
          </div>

          <!-- Links -->

          <div>

            <div class="my-4">

              <a href="#" class="myButton mr-2 mb-2">Notre Projet</a>

              <a href="#" class="myButton2 mr-2 mb-2">Notre Projet</a>

              <a href="#" class="button3 mr-2 mb-2">Notre Projet</a>

            </div>

            <div class="my-4">

              <a href="#" class="myButton mr-2 mb-2">Nous rejoindre</a>

              <a href="#" class="myButton2 mr-2 mb-2">Nous rejoindre</a>

              <a href="#" class="button3 mr-2 mb-2">Nous rejoindre</a>

            </div>

            <div class="my-4">

              <a href="#" class="myButton mr-2 mb-2">Recrutements</a>

              <a href="#" class="myButton2 mr-2 mb-2">Recrutements</a>

              <a href="#" class="button3 mr-2 mb-2">Recrutements</a>

            </div>

          </div>
  
        </div>

    </div>

{% endblock %}
