
<p>Bonjour,</p>

<p>Vous avez reçu un nouveau message concernant le projet : <a href="{{url('project_show', {'slug':presentation.slug})}}">{{url('project_show', {'slug':presentation.slug})}}</a> </p>

<p>Ceci est un message automatique envoyé par le site web du Projet des Projets, merci de ne pas y répondre.</p>