<!DOCTYPE html>

<html>

    <head>
  
  
        <title>Lettre d'Informations du Projet des Projets</title>
  
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width">

    </head>
    
    
    <body>

        {# Page Content Container #}

        <div class="message-container" >

            <div class="message-header">

                <img src="{{absolute_url("/images/app/logo.svg")}}" width="37px" height="49px">

                    <h3>Bonjour</h3>

                    <h3 style="margin-top:8px;">Voici votre bulletin d'informations</h3>

            </div>

            <div class="message-core" style="padding-top:20px;">
                
                <!-- Notifications List -->
                
                {% include '/user_follows/_show_notifications/_list_notifications.html.twig' %} 
            
            </div>

            <div class="message-footer">

                <h3 style="margin-top : 48px; margin-bottom: 40px;">❤️ Bonne journée et à bientôt sur le Projet des Projets</h3>


                <hr style="border:2px solid orange; margin-bottom: 40px;">

                {# unsubscribe emails soon come #}

                <h4>Si vous ne souhaitez plus recevoir ce bulletin d'information, <a href="{{url('treat_emails_reception', {'property': 'notificationsAcceptation', 'value': 'false'}) }}" target="_blank">cliquez ici</a>.</h4>

                <h4>© Projet des Projets, 2021 - Tous droits réservés</h4>

            </div>


        </div>
  
        {# Some Styles #}

        <style>

            body {
                background-color: #f0f8ff;
            }

            .message-container{
                
                margin:15px;
                padding: 28px;
                padding-bottom: 20px;

                border: 6px solid green; 
                
            }

            .message-header img {

                width:37px;
                float:left;
                margin-right: 29px;
            }

            .message-header h3 {

                margin-bottom: 5px;
            }


            .message-core{
                margin-bottom: 40px;
            }

            h3{
                
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }

        @media screen and (max-width: 580px) {

            .message-container{

                margin: 15px 0;
                padding: 10px 0;
            }

            .message-header img {

                width:37px;
                float:left;
                margin-right: 10px;
            }

            .message-header h3 {

                font-size : 17px;
            }

            .message-footer{
                padding: 0 15px;
            }

        }


        </style>


    
</body>

</html>