{% extends 'base.html.twig' %}

{% block title %}Ajouter un texte{% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}

<div class="container">

  <h3 class="mt-3 my-4 font-weight-bold">Enregistrer un texte</h3>

  <div class="row">

    <div class="col-7">
            
        {{form_start(form)}}

        <!-- Tinymce Editor -->

        <div class="mb-3">

          {{form_widget(form.textContent)}}

        </div>
        <!-- Buttons Submit or Cancel -->

        <div>
            
          <button type="submit" class="btn btn-success btn-lg h3 font-weight-bold mb-4 mr-1">Enregistrer</button>
      
          <a class="text-decoration-none text-white" href="{{ path('slideshow_index', {'slug': slug}) }}">
              <button type="button" class="btn btn-info btn-lg font-weight-bold mb-4">Retour</button>
          </a>

        </div>

                  
        {{form_end(form)}}

    </div>

  </div>

</div>



{% endblock %}

{% block javascripts %}




<script src="https://cdn.tiny.cloud/1/ozugcg6rtcsvf9xx1qfujj2aluoo7ezwd2pfx5xnwf4nhujq/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

  <script>
    tinymce.init({
      mode : "specific_textareas",
      editor_selector : "tinymce",
      content_css : '/css/tinymce.css',
      placeholder: "La place disponible est délimitée par une bordure noire",
      width : "620",
      height: "500",
      entity_encoding : "raw",
      menubar: 'edit format',

      menu: {
        edit: { title: 'Edit', items: 'undo redo | cut copy paste | selectall | searchreplace' },
        format: { title: 'Format', items: 'bold italic underline strikethrough superscript subscript codeformat removeformat | forecolor backcolor' },
      }, 


      language: 'fr_FR',

      plugins: "emoticons, lists",

      toolbar: "undo redo formatselect emoticons bullist bold italic underline alignleft aligncenter alignright alignjustify outdent indent",

      content_style: "body {padding: 0px 15px; height:500px; border-bottom:5px solid black;}",

      //link_title: false, (only when links plugin will be integrated)
      //target_list: false,
    });


  </script>


{% endblock %}