<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width">

        <title>{% block title %}Bienvenue sur un Projet des Projets{% endblock %}</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/sideBar.css">
       
        {% block stylesheets %}{% endblock %}

    </head>

    <body>

       {% include 'partials/header.html.twig' %}

       {% include 'partials/flashmessage.html.twig' %}

       <div class="p-0 m-0 wrapper">

        {% block sidebar %}{% endblock %}

        <div id="content" class="m-0 p-0">

            {% block body %}{% endblock %}

        </div>
        
    </div>

        {% include 'partials/footer.html.twig' %}


        <!-- Defaults Javascripts -->

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <!-- SideBar Toggle -->
        <script>
            $(document).ready(function () {

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            
            });
        </script>


        {% block javascripts %}{% endblock %}
        
    </body>

</html>
