{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="alert alert-dismissible alert-light mt-4 col-7">
            <h4 class="alert-heading">Bienvenue :-)</h4>
            <h4>Chercher, Rejoindre, ou Créer un Projet.</h4>
        </div>
       

        <h2>Projets Ajoutés</h2>

        <div class="row mt-3 pl-2">

            {% for data in presentations %}
                
                {% include '/pp/_display_grid_list.html.twig' with {'presentation' : data} %}

            {% endfor %}

        </div>

        
<!--         <h2 class="h1 mt-2 mb-3">Des Présenteurs de Projets</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Lior Chamla</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://place-hold.it/64x64" class="float-left mr-3" alt="" srcset="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem dolorum ipsa nesciunt corporis blanditiis rem illum voluptatum cum aperiam!</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                    </div>
            </div>

            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Tim Strap</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://place-hold.it/64x64" class="float-left mr-3" alt="" srcset="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem dolorum ipsa nesciunt corporis blanditiis rem illum voluptatum cum aperiam!</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        
    </div>

    



{% endblock %}