{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="alert alert-dismissible alert-danger my-3 h4 d-block d-md-none">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>L'affichage sur mobile n'est pas encore géré. Merci de votre compréhension.</strong>
          </div>

        <div class="card border-primary border-4 my-3" style="max-width: 44rem;">

            <div class="card-header">

                <h4 class="mb-0 card-title font-weight-bold">Objectif du Projet des Projets</h4>

            </div>

            <div class="card-body py-3">
                
                <p class="card-text lh-2 h5">Créer une plateforme de présentation des projets humains en tous genres, de leurs besoins, et de leurs interactions. Je suis novice en programmation, j'ai commencé le site il y a 8 semaines. Si vous trouvez aussi qu'on peut faire mieux ensemble, rejoignez moi 👍 Ma détermination est restée intacte depuis des mois.</p>

                <span class="h5"> So Come On ;-)</span>

                <!-- Changelog Modal Box -->

                <button id="changelogModalLink" class="btn btn-primary d-block rounded my-2 mb-3" type="button" data-toggle="modal" data-target="#displayChangelogModal">

                    <span class="h5 font-weight-bold">>  Voir les dernières modifications (28 - 04 - 2020)  <</span>
                    
                </button>

                {% include '/partials/changelogModal.html.twig' %}

                                
                {% block javascripts %}
                    
                    <script>

                        $(document).ready(function(){

                            // When Click on "Display all Needs", a modal box pop up.

                            $('#changelogModalLink').on('click', function (){


                            $('#displaychangelogModal').modal('show');

                            });

                        });

                    </script>

                {% endblock %}
                                

            </div>
            </div>

        </div>

        <div class="card border-danger border-4 my-3" style="max-width: 44rem;">
            <div class="card-header">
                <h4 class="mb-0 card-title font-weight-bold">!!! Note Importante !!!</h4>
            </div>
            <div class="card-body  py-3">
                
                <p class="card-text lh-2 h5">Ceci n'est pas un prototype, ceci une esquisse qui est publiée pour présenter l'idée et certains avancements. </p>

                <div class="progress" style="height:33px;">

                    <span class="h4 mr-2 font-weight-bold">Esquisse</span>

                    <div class="h6 progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100">
                        <span class="font-weight-bold">36%</span>

                    </div>

                    <span class="h4 ml-auto pr-4 font-weight-bold"> Prototype</span>

                </div>

            </div>
        </div>

        <div class="card border-info border-4 my-3" style="max-width: 44rem;">
            <div class="card-header">
                <h4 class="mb-0 card-title font-weight-bold">Testez Différentes Possibilités</h4>
            </div>
            <div class="card-body h5 py-3">
                
                Consultez différentes pages de projets (certaines parties peuvent varier). <br> <br>

                Ajoutez un projet pour tester (encore précaire) (se connecter d'abord) :

                <ul class="mb-0 mt-2">
                    <li>email : test@test.com</li>
                    <li>mot de passe : test</li>
                </ul>

            </div>
        </div>

        <div class="card border-primary border-4 my-3" style="max-width: 44rem;">
            <div class="card-header">
                <h4 class="mb-0 card-title font-weight-bold">Contactez-moi</h4>
            </div>
            <div class="card-body pt-3 pb-2">
      
    
          
               <!--  <a href="https://twitter.com/GaillardLaure20">            
                    <button type="button" class="btn btn-info font-weight-bold mr-2">Twitter</button>
                </a> -->

                <span class="h5">Laurent GAILLARD</span>

                <p class="h5 font-weight-bold mb-0 my-2">
                     Email : lauguy aatt free.fr
                </p>
                
                <a href="https://www.linkedin.com/in/laurent-gaillard-bb01081a7/">            
                    <button type="button" class="btn btn-success font-weight-bold">LinkedIn</button>
                </a>

            </div>
        </div>
            


        <div class="alert alert-dismissible alert-light mt-4 col-7">
            <h4 class="alert-heading">Bienvenue :-)</h4>
            <h4>Chercher, Rejoindre, ou Ajouter un Projet.</h4>
        </div>
       

        <h2>Projets Ajoutés</h2>

        <div class="row mt-3 pl-2">

            {% for data in presentations %}
                
                {% include '/pp/_display_grid_list.html.twig' with {'presentation' : data} %}

            {% endfor %}

        </div>

        
<!--         <h2 class="h1 mt-2 mb-3">Des Présenteurs de Projets</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Lior Chamla</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://place-hold.it/64x64" class="float-left mr-3" alt="" srcset="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem dolorum ipsa nesciunt corporis blanditiis rem illum voluptatum cum aperiam!</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                    </div>
            </div>

            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Tim Strap</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://place-hold.it/64x64" class="float-left mr-3" alt="" srcset="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem dolorum ipsa nesciunt corporis blanditiis rem illum voluptatum cum aperiam!</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        
    </div>

{% endblock %}