{% extends 'base.html.twig' %}

{% block body %}

    
    <!-- Mobile Phone Not Managed (Disclaimer) -->

   <!--  <div class="alert alert-dismissible alert-danger my-3 h4 d-block d-md-none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>L'affichage sur mobile n'est pas encore géré. Merci de votre compréhension.</strong>
    </div> -->

    <div class="container mt-3 mb-2 my-mb-5">

        <div class="col-md-12 mt-4 mt-md-5">

            <!-- Jumbotron -->
            <div class="row mb-md-4 d-flex align-items-center">

                <div class="col-sm-12 col-md-6 px-0">

                    <p class="questionHomePage font-weight-bold" style="color:green;">
                        Vous souhaitez présenter un Projet ? 
                    </p>
    
                    <p class="secondLineHomePage mb-md-3">
                        Ce site est créé pour vous.
                    </p>
    
                    <p class="h4 mb-5 d-none d-md-block">

                        <span class="font-weight-bold">
                            Vous pouvez présenter votre projet</span><br>avec tous ses besoins. 
                    </p>
                    
                    <!-- larger screens CTA Buttons -->
    
                    <div class="d-none d-md-block">

                        <!-- Quick User Guide Button -->
    
                        <a href="{{ path('quick_user_guide') }}">
                            <button type="button" class="btn btn-info btn-lg sharp font-weight-bold mr-3">Comment ça marche ?</button>
                        </a>

                        <!-- Add a Project Button -->

                        <a href="{{ path('create_presentation') }}">
                            <button type="button" class="btn btn-lg font-weight-bold " style="border:3px solid orange;"><img class="mr-2" src="/images/app/addProject.svg" width="25px" height="25px" >Ajouter un Projet</button>
                        </a>

    
                    </div>
    

                </div>

                <div class="d-none d-md-block catCol col ml-4 ">
                    <img class="img-fluid rounded-lg" src="images/static/homepage/rocket_launch.png" alt="" style="width:380px;">
                </div>

                <div class="d-md-none catCol col mt-1 d-flex align-items-center justify-content-center">
                    <img class="img-fluid rounded-lg" src="images/static/homepage/rocket_launch.png" alt="" style="width:330px;">
                </div>

            </div>


        </div>

        <!-- Styles for Homepage -->

        
    <style>

        .questionHomePage{

            font-size: 2rem;

            line-height: 40px;
        }

        
        .secondLineHomePage{

            font-size: 1.65em;
            margin-bottom: 0px;
        }

        @media screen and (max-width: 580px) {

            .questionHomePage{

                font-size: 1.5em;

                margin-bottom:5px;

                line-height: 35px;

                padding-left: 5px;
            }

            .secondLineHomePage{
                padding-left: 5px;
                font-size: 1.5em;
            }

            .catCol{

                border-radius: 4px;
                padding: 15px 2px;
            }


        }
        
    </style>



         <!-- <div class="container h5 pt-3">

            <div class="seeExampleCat row border border-primary rounded">

                <div class="col-md-8">

                   <div class="row">

                            <div class="col-5 col-md-2 mr-5 mr-md-0 d-flex align-items-center justify-content-center">

                                <a class="" href="#"><img src="/images/app/seeExample.svg" width="90px" height="90px" style="width:100%;"></a>

                            </div>

                             

                            <div class="col-3 col-md-4 d-flex align-items-center justify-content-center h3 mb-0 text-center">
                                
                                Afficher un exemple

                            </div>

                    </div>


                  

                </div>


            </div>


           
        </div> -->
     

    </div>

    <!-- Smaller Screens CTA Buttons -->

    <div class="d-md-none px-4 mb-5">

        <!-- Quick User Guide Button -->

        <a href="{{ path('quick_user_guide') }}">
            <button type="button" class="w-100 btn btn-info btn-lg sharp font-weight-bold mr-3 mb-4">Comment ça marche ?</button>
        </a>

        <!-- Add a Project Button -->

        <a href="{{ path('create_presentation') }}">
            <button type="button" class="w-100 btn btn-lg sharp font-weight-bold " style="border:3px solid orange;"><img class="mr-2" src="/images/app/addProject.svg" width="25px" height="25px" >Ajouter un Projet</button>
        </a>


    </div>

  
     <!-- Last Inserted Projects Title Display -->

    <div class="container pt-md-1">

        <h3 class="lastProjectsTitle font-weight-bold mb-3" style="color: navy;">
            Derniers projets présentés
        </h3>

        <div class="mt-4 mt-md-5">

            {% for data in presentations %}
                
                {% include '/pp/_display_linear_list.html.twig' with {'presentation' : data} %}

            {% endfor %}

        </div>

        <style>
            @media screen and (max-width: 580px) {

                .lastProjectsTitle{
    
                    font-size: 1.65em;
                }
            }
        </style>

        
<!--         <h2 class="h1 mt-2 mb-3">Des Présenteurs de Projets</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Lior Chamla</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://place-hold.it/64x64" class="float-left mr-3" alt="" srcset="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem dolorum ipsa nesciunt corporis blanditiis rem illum voluptatum cum aperiam!</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                    </div>
            </div>

            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Tim Strap</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://place-hold.it/64x64" class="float-left mr-3" alt="" srcset="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem dolorum ipsa nesciunt corporis blanditiis rem illum voluptatum cum aperiam!</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        
    </div>

{% endblock %}