
<!-- Users Comments Display -->

{% if presentation.allowComments == true %}

    {% if presentation.comments | length > 0 %}

        <!-- Comments Count Display -->

        {% include 'pp/partials/_comments/_count_comments_display.html.twig' %}

    <!-- No Comment Yet Default Message -->

    {% else %}

        <h5 class="mb-4 font-weight-bold">

            Aucun commentaire rédigé

        </h5>
        
    {% endif %}

    <!-- New Comment Invitation -->

    <!-- If user is logged in we display a form-->

    {% if is_granted('ROLE_USER') %}

        <!-- New Comment Form (Only for Registred Users) -->

        {% include 'pp/partials/_comments/_new_comment_form.html.twig' %}
    

        <!-- Reply to Comment Form (diplayed in a modal box, only for logged in users) -->
        
        {% include 'pp/partials/_comments/_reply_comment_form.html.twig' %}
        
        
    <!-- User Not Logged In : we propose to sign up -->
        
    {% else %}
        
        {% include 'pp/partials/_comments/_sign_up_to_comment.html.twig' %}

    {% endif %}


    {% if presentation.comments | length > 0 %}

        <!-- Comments Display Box -->

            <div id="commentsDisplay" class="container ml-md-3 mb-4">

                <div class="row">

                    <div class="col-md-9 px-2">
                                
                        <!-- Comments Display Loop -->
            
                        {% include 'pp/partials/_comments/_comments_display_loop.html.twig' %}

                    </div>

                </div>
    
            </div>

    {% endif %}


<!-- Disabled Comments : we display a Default Message -->

{% else %}
    
<div>

    Commentaires désactivés.

</div>

{% endif %}

