

<!-- "Contact Us Cards" & "Send Private Message Button" Display -->

{% if presentation.contacts | length > 0 or  presentation.isActiveContactMessages %}

    <!-- Structure Container -->

    <div id="contactInfosDisplay" class="pp-struct-container pb-3">

        <!-- Title Container -->

        <div class="pp-struct-title-container">
            
            <!-- Structure Icon -->

            <span class="atTextIcon">@</span>

            <!-- Structure Title -->
                    
            <h3 class="pp-struct-title">Nous contacter</h3>
                                            
            <!-- Edit Project Contact Cards Button -->

            {% if is_granted('edit', presentation) %}

                {# Add Contact Card Shortcut Button #}

                <a href="{{ path('contact_new', {'slug': presentation.slug}) }}">

					<button class="btn btn-light sharp font-weight-bold mb-2 mr-2 d-inline fs-15">Ajouter</button>
                
                </a>

                <a class="pp-edition-mode" href="{{ path('contact_index', {'slug': presentation.slug}) }}" class="">

                    <button class="btn btn-light sharp font-weight-bold mb-2 fs-15">Gérer</button>
                    
                </a>

            {% endif %}

        </div>

            
        <!-- Contact Cards Styles -->

        <style>

            .pp-contact-us-card, .pp-contact-us-card a {

                background-color : white !important;
            
                }

        </style>

         <!-- Contact Cards grid -->

        <div class="container pl-md-3">

            <div class="row">

                {% for contact in presentation.contacts %}

                    {# disabling contact card reactivity for project presenters (i.e. avoid new email triggering when clicking on it; website opening...), and adding a direct link to contact card edition #}

                    {% if userPresenter %}
                    
                        <div id="" class="pp-edition-mode pp-contact-us-card col-md-5 border border-primary border-2 p-4 mb-4 mr-0 mr-md-4" style="word-wrap: break-word;">
                            
                            <a href="{{  path('contact_edit', {'contact_id': contact.id, 'slug': presentation.slug})  }}" class="w-100 h-100 text-body text-decoration-none">
                    
                                {% include 'contacts/_contact_card_display.html.twig' with {'context': 'editionMode'} %}
                            
                            </a>

                        </div>     
                    
                    {% endif %}

                    {# displaying a reactive contact card in consultation mode #}

                    <div id="" class="pp-consultation-mode pp-contact-us-card col-md-5 border border-primary border-2 p-4 mb-4 mr-0 mr-md-4" style="word-wrap: break-word;">
            
                        {% include 'contacts/_contact_card_display.html.twig' %}

                    </div>
                
                {% endfor %}

                  <!-- Style for Private Messages Button -->  

                <style>

                    .pp-private-message-card, .pp-private-message-card a {

                        background-color : white !important;

                    }

                    .pp-private-message-card:hover, .pp-private-message-card>* :hover {

                        background-color:aliceblue  !important; 
                    }

                </style>
            
                <!-- Private Messages Button -->  
                
                {% if presentation.isActiveContactMessages %}

                    <div class="pp-private-message-card cursor-pointer col-md-5 border border-primary border-2 mb-4 mr-0 mr-md-4" style="min-height: 150px;">
                                
                        <div class="h5 my-auto mx-auto text-center font-weight-bold h-100 w-100 d-flex align-items-center justify-content-center" style="letter-spacing: 1.15px; font-size:1.20em;">
                                        
                            <a class="text-decoration-none text-body h-100 w-100 d-flex align-items-center justify-content-center" href="{{path('contact_message_new', {'slug':presentation.slug})}}">Envoyer un <br> message privé </a>
                        </div>
                    
                    </div>
            
                {% endif %}

            </div>
   
        </div>

    </div>


    <style>

        #contactInfosDisplay .atTextIcon {
            font-size: 33px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-right: 10px;
            display: inline-block;
            position: relative;
            top: -2px;
        }

        @media screen and (max-width: 580px) {

            #contactInfosDisplay .atTextIcon{

                font-size:21px;
                margin-right : 5px;
                top: 0px;

            }

        }
    </style>

{% endif %}