<!-- Project Documents Display -->

{% if presentation.documents | length > 0 %}

    <!-- Structure Container -->

    <div class="pp-struct-container pb-3">

        <!-- Title Container with Edit Button -->

        <div class="mb-3">

            <!-- Structure Title -->

            <h3 class="pp-struct-title d-inline mr-2 mb-2">Documents attachés</h3>
    
            <!-- Edit Text Description Button -->
    
            {% if app.user and app.user == presentation.creator %}

                <a href="{{ path('manage_documents', {'slug': presentation.slug}) }}">
    
                    <button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15">Gérer les documents</button>
                    
                </a>

            {% endif %}

        </div>
   
    
        <!-- Project Documents List (in a grid with icons Display) -->

        <!-- Four First Documents are Displayed by defaults -->

        <div class="container mb-2">

            <div class="row col-md-12 pl-0">

                {% for document in presentation.documents | slice (0,4) %}

                    <!-- Document Icon with Title -->

                    <div class="mr-4 mb-3 cursor-pointer" >

                        <!-- Download Document / Display Document (Link) -->

                        <a href="/files/projects/documents/{{document.fileName}}" class="w-100 h-100 text-body text-decoration-none">
                            
                            {% include 'document/_icons_display.html.twig' %}

                        </a>
                        
                    </div>

                {% endfor %}

            </div>

        </div>



        <!-- If more than four documents, they can be displayed via a Collapsible -->

        <!-- Show More or Show Less Documents (Button Style)-->

        <style>
                        
            #moreDocuments.collapsed:after {
                content: '▼ \00a0  Afficher Plus';
            }
            
            #moreDocuments:not(.collapsed):after {
                content: '▲ \00a0  Afficher Moins';
            }
            
        </style>

        {% if presentation.documents | length > 4 %}
            
            <div class="container mb-2">

                <div id="moduleCollapseDocuments" class="collapse mb-3 row col-md-12 pl-0" >

                    {% for document in presentation.documents [4:] %}

                        <!-- Document Icon with Title -->

                        <div class="mr-4 mb-3 cursor-pointer" >

                            <!-- Download Document / Display Document (Link) -->

                            <a href="/files/projects/documents/{{document.fileName}}" class="w-100 h-100 text-body text-decoration-none">
                                
                                {% include 'document/_icons_display.html.twig' %}

                            </a>
                            
                        </div>

                    {% endfor %}

                </div>
    
            </div>
                  
            <button id="moreDocuments" class="collapsed btn btn-primary sharp font-weight-bold" data-toggle="collapse" data-target="#moduleCollapseDocuments">


            </button>

        {% endif %}


    </div>

{% endif %}