<!-- External Contributors Presentation -->

{% if presentation.externalContributorsStructures | length > 0 %}

    <div id="externalContributorsDisplay" class="pp-struct-container">
        
        {% if is_granted('edit', presentation) %}
            
            <!-- Title Container with Edit Button -->

            <div class="pp-struct-title-container pp-edition-mode">

                <!-- Structure Title -->

                <h3 class="pp-struct-title">Contributions externes</h3>

                <!-- Edit Project External Contributors Button -->

                <a class="" href="{{ path('edit_presentation_menu', {'slug': presentation.slug }) }}">

                    <button class="btn btn-light sharp font-weight-bold mb-2 d-inline-block fs-15">Gérer</button>
                    
                </a>

            </div>

        {% endif %}


        <!-- ECS Display Container -->

        <div class="ecs-display-container pb-3" >
                
            {% for ecs in presentation.externalContributorsStructures %}
            
                <div class="each-ecs-container">

                    <div class="pp-struct-title-container">
                                                    

                            {# ECS Title Display (ex: Our Sponsors) #}

                            {# Only First Occurence Has an Icon #}

                                <h3 class="pp-struct-title">

                                    {% if loop.first %}

                                        <!-- Structure Icon -->

                                        <img class="pp-struct-icon" src="/images/icons/consult_presentation/external_contributors2.svg" height="29" width="29" alt="external contributors icon">

                                    {% endif %}

                                    {{ecs.title}}

                                </h3>

                                <!-- Edit this ECS Button -->

                                {% if is_granted('edit', presentation) %}

                                    <a class="pp-edition-mode" href="{{ path('manage_ecs', {'slug':presentation.slug, 'id_ecs':ecs.id}) }}">

                                        <button class="btn btn-light sharp font-weight-bold d-inline fs-15">Gérer</button>
                                        
                                    </a>

                                {% endif %}

                    </div>
                        
                    <!-- ECS Card Display (ex: Coca-Cola Logo; Mr Smith Picture; etc) -->
                    
                    {% if ecs.persorgs | length > 0 %}

                        {# Displaying Persorgs Cards #}

                        <div class="container">
                            
                            <div class="each-ecs-container scrolling-wrapper-flexbox row pl-md-4">

                                {% for persorg in ecs.persorgs %}

                                    {% include 'pp/partials/_persorg/_card.html.twig' %}

                                    {% include 'pp/partials/_persorg/_modal_box.html.twig' %}

                                {% endfor %}

                            </div>

                        </div>

                        {# Style Persorg Card #}

                        {% include 'pp/partials/_persorg/_style_card.html.twig' %}

                    {% endif %} 

                    
                    <!-- ECS Rich Text Content Display -->
                    
                    {% if ecs.richTextContent is not null %}

                        {% include 'pp/partials/_persorg/_rich_text_display.html.twig' with {'richText': ecs.richTextContent, 'entityType': 'ecs', 'entityId': ecs.id} %}

                    {% endif %}

                </div>
                
            {% endfor %}

        </div>

    </div>
    
    <!-- Styles External Contributors Display -->
    
    <style>

        .each-ecs-container{
            
            margin-bottom: 34px;
        }
        

        .each-ecs-container:last-child {
            
            margin-bottom: 7px;

        }
    
        #externalContributorsDisplay .pp-struct-icon {
            margin-right: 7px;
            top: -3px;
            margin-left: 5px;
        }
      
  
        
        @media screen and (max-width: 580px) {

                   
            .scrolling-wrapper-flexbox {

                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;

                -webkit-overflow-scrolling: touch;

            }
            
            #externalContributorsDisplay .pp-struct-container {
                
                padding-right: 0px;
                padding-left: 7px;
            }

            #externalContributorsDisplay .pp-struct-icon {
                width: 18px;
                height: 18px;
                top: -3px;
                margin-right: 2px;
                margin-left:  2px;
            }
           
    
        }
    
    
    </style>

{% endif %}
