

<!-- External Contributors Presentation -->

{% if presentation.externalContributorsStructures | length > 0 %}

    {% if is_granted('edit', presentation) %}
        
        <!-- Title Container with Edit Button -->

        <div id="externalContributorsDisplay" class="pp-struct-title-container pp-edition-mode">

            <!-- Structure Title -->

            <h3 class="pp-struct-title d-inline mr-2">Contributions externes</h3>

            <!-- Edit Project External Contributors Button -->

            <a class="" href="{{ path('edit_presentation_menu', {'slug': presentation.slug }) }}">

                <button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15">Gérer</button>
                
            </a>

        </div>

    {% endif %}

    <!-- ECS Presentation Structure Container -->

    <div class="pp-struct-container pb-3">
            
        {% for ecs in presentation.externalContributorsStructures %}

            <div class="ecs">

                <div class="pp-struct-title-container mb-4">
                    
                    <!-- ECS Title Display (ex: Our Sponsors) -->

                    <h3 class="ecsTitle pp-struct-title d-inline">

                        {{ecs.title}}

                    </h3>

                    <!-- Edit this ECS Button -->

                    {% if is_granted('edit', presentation) %}

                        <a class="pp-edition-mode" href="{{ path('manage_ecs', {'slug':presentation.slug, 'id_ecs':ecs.id}) }}">

                            <button class="btn btn-light sharp font-weight-bold d-inline fs-15">Gérer</button>
                            
                        </a>

                    {% endif %}

                </div>

                <!-- ECS Card Display (ex: Coca-Cola Logo; Mr Smith Picture; etc) -->
                
                {% if ecs.persorgs | length > 0 %}

                    <div class="container">
                                            
                        <div class="ecsDisplayRow">

                            {% include 'pp/partials/_external_contributors/_card_display.html.twig' %}

                        </div>

                    </div>
                    
                    <!-- ECS Details (Displayed in Modal Boxes) -->
                    
                    {% for persorg in ecs.persorgs %}

                        {% include 'pp/partials/_external_contributors/_modal_box.html.twig' %}

                    {% endfor %}

                {% endif %} 

                <!-- ECS Rich Text Content Display -->
                
                 {% if ecs.richTextContent is not null %}

                        <div class="container richTextContent px-0 pl-1 px-md-2 px-lg-3">

                            {{ecs.richTextContent | raw}}

                        </div>

                 {% endif %}

            </div>
            
        {% endfor %}


    </div>

{% endif %}


<!-- Styles External Contributors Display -->

<style>
    
    .ecs{
        
        margin-bottom: 5px;
    }
    

    .externalContributorCard {

        display: inline-block !important;

        width: 175px;

        min-height:175px; 

        margin-right : 10px;

        cursor: pointer;

        white-space:normal;
        overflow-x:auto;
    }
    
    /* .ecsTitle{

       margin-bottom: 20px;
    } */

    .persorgName{
       
        text-align: center;

        font-weight: bold;

        margin-bottom: 7px;

        overflow-y: hidden;

    }

    .richTextContent{
        font-size:1.17em;
    }

    
    @media screen and (max-width: 580px) {

        /* One Letter Avatars */

            .avatar-circle {
                width: 82px;
                height: 82px;
            }

            
            .initials {
                position: relative;
                top: 20px; /* 25% of parent */
                font-size: 40px; /* 50% of parent */
                line-height: 40px; /* 50% of parent */
            }


            .ecsDisplayRow{

                overflow-x: auto;
                white-space: nowrap;
                overflow-y: hidden;

            }

            .richTextContent{
                font-size:15px !important;
                line-height: 21px;
            }


    }


</style>



{# {% if loop.first %}

    <!-- Structure Icon -->

    <img class="pp-struct-icon" src="/images/icons/consult_presentation/external_contributors.svg" height="32" width="32" alt="external contributors icon">

{% endif %}#}