<!-- Project Follow Button Display -->

    <!-- Structure Container -->

    <div class="pp-struct-container pb-1 pb-md-3">

        <div class="mb-3">

           <div class="pp-follow-project-button cursor-pointer col-md-5 border border-primary border-2 mb-4 mr-0 mr-md-4" style="height:40px;">
                        
                <div class="h5 my-auto mx-auto text-center font-weight-bold h-100 w-100 d-flex align-items-center justify-content-center" style="letter-spacing: 1.15px; font-size:1.20em;">
                                
                    <a class="text-decoration-none text-body h-100 w-100 d-flex align-items-center justify-content-center" href="{{path('new_follow_presentation', {'slug':presentation.slug})}}">Suivre ce Projet</a>

                </div>
                    
            </div>

        </div>

     </div>
    

    <style>
        .pp-follow-project-button:hover, .pp-follow-project-button>* :hover {

            background-color:rgb(229, 239, 248)  !important; 
        }
    </style>