<!-- Project Geodomains Display -->

    <!-- Styles -->

    <style>

        .geodomains li, .geodomains li:hover {

            background-color : aliceblue;
            margin-bottom : 15px !important;
            font-size: 1.17em;

            font-weight: bold;

        }

        @media screen and (max-width: 580px) {

            .geodomains li, .geodomains li:hover {

                font-size: 1.15em;
                font-weight: normal;

                margin-bottom : 3px !important;
    
            }

        }

    </style>

    <!-- Geodomains Display List -->

    <!-- Whole Structure Container -->

    {% if presentation.geoDomains | length > 0 %}

        <div id="geodomainsDisplay" class="pp-struct-container geodomains pb-3">
        
        <!-- Title Container -->

        <div class="pp-struct-title-container">

            <!-- Structure Icon -->

            <img class="pp-struct-icon" src="/images/icons/consult_presentation/geodomains_2.svg" height="30" width="30" alt="project places icon">

            <!-- Structure Title -->

            <h3 class="pp-struct-title">Lieux du projet</h3>
                                    
            <!-- Edit Geodomains Button -->
    
            {% if is_granted('edit', presentation) %}
                
                <a class="pp-edition-mode" href="{{ path('geodomains_places_manage', {'slug': presentation.slug}) }}" class="">

                    <button class="btn btn-light sharp font-weight-bold fs-15">Gérer les lieux</button>
                    
                </a>
                
            {% endif %}

        </div>
 

            <ul class="list-group mt-0 pt-0 col-md-7">

                {% for place in presentation.geoDomains | slice(0, 3) %}

                    <li class="list-group-item py-0 border-0">

                        {# Blue Arrow Bullet Point #}
                        
                        <span class="fs-15 blueArrow mr-1">● </span>
                        
                        <span class="">
                            {{place.placeName}}
                        </span>
                        
                        <span class="mr-2">

                            {% if not place.postalCode == '' %}
                                ({{place.postalCode}})
                            {% endif %}
                        
                        </span>
                    
                    </li>

                {% endfor %}

                {% if presentation.geoDomains | length > 3 %}

                    <li class="list-group-item mt-0 pt-0 pb-2 border-0">...</li>
                    
                {% endif %}

            </ul>

        </div>

        

    {# Styles for geodomains #}

    <style>
                    
        #geodomainsDisplay .pp-struct-icon {
            margin-right: 16px;
            top: 0px;
            margin-left: 2px;
        }

    
        @media screen and (max-width: 580px) {
    

            #geodomainsDisplay .pp-struct-icon {
                width: 17px;
                height: 18px;
                top: 0px;
                margin-right: 5px;
                margin-left: -1px;
            }
    
        }
    
    </style>

    {# placeholder for project places #}

    {% elseif userPresenter and placeHoldersLifeSpan > presentationCreationTimeLapse %} 

    <div class="pp-struct-container pp-edition-mode container pb-3">

		<div class="row">

			<div class="col-md-9">
					
				<div id="geoDomainsPlaceholder">

					<div class="row h-100">

						<!-- add a text-description button -->
						
						<div class="col-6 pl-md-4 d-flex align-items-center justify-content-center">
							
							<a href="{{path('geodomains_places_manage', {'slug':presentation.slug})}}">

								<img class="addGeoDomainIcon img-fluid" src="/images/icons/edit_presentation/wysiwyg/location.svg" height="145" width="140" alt="add place icon" >

							</a>

						</div>


					</div>

				</div>

			</div>

		</div>

	</div>

    <style>

		#geoDomainsPlaceholder{

			height: 200px;

			border: 5px dashed rgb(180, 204, 236);
			border-radius: 6px;

		}

		#geoDomainsPlaceholder:hover {
			cursor: pointer;
			background-color: lavender;
		}


		@media screen and (max-width: 580px) {

			#geoDomainsPlaceholder{
				
				height: 100px;

			}

			.addGeoDomainIcon {
				
				height : 55px;
			}


		}

	</style>





    {% endif %}