<!-- Project Geodomains Display -->

    <!-- Styles -->

    <style>

        .geodomains li, .geodomains li:hover {

            background-color : aliceblue;
            margin-bottom : 15px !important;
            font-size: 1.17em;

            font-weight: bold;

        }

        @media screen and (max-width: 580px) {

            .geodomains li, .geodomains li:hover {

                font-size: 1.15em;
                font-weight: normal;

                margin-bottom : 3px !important;
    
            }

        }

    </style>

    <!-- Geodomains Display List -->

    <!-- Whole Structure Container -->

    {% if presentation.geoDomains | length > 0 %}

        <div id="geodomainsDisplay" class="pp-struct-container geodomains pb-3">
        
        <!-- Title Container -->

        <div class="pp-struct-title-container">

            <!-- Structure Icon

            <img class="pp-struct-icon" src="/images/icons/consult_presentation/geodomains.svg" height="32" width="32" alt="project places icon"> -->

            <!-- Structure Title -->

            <h3 class="pp-struct-title d-inline mr-2">Lieux du projet</h3>
                                    
            <!-- Edit Project Title Button -->
    
            {% if app.user and app.user == presentation.creator %}
            <a href="{{ path('geodomains_places_manage', {'slug': presentation.slug}) }}" class="">

                <button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15">Gérer les lieux</button>
                
            </a>
            
        {% endif %}

        </div>
 

            <ul class="list-group mt-0 pt-0 col-md-7">

                {% for place in presentation.geoDomains | slice(0, 3) %}

                    <li class="list-group-item py-0 border-0">

                        {# Blue Arrow Bullet Point #}
                        
                        <span class="fs-15 blueArrow mr-1">● </span>
                        
                        <span class="">
                            {{place.placeName}}
                        </span>
                        
                        <span class="mr-2">

                            {% if not place.postalCode == '' %}
                                ({{place.postalCode}})
                            {% endif %}
                        
                        </span>
                    
                    </li>

                {% endfor %}

                {% if presentation.geoDomains | length > 3 %}

                    <li class="list-group-item mt-0 pt-0 pb-2 border-0">...</li>
                    
                {% endif %}

            </ul>

        </div>

    {% endif %}