
<!-- Project Goal Presentation -->

    <!-- Project Goal Display -->
    
    <h4 class="pl-0 font-weight-bold mt-4 d-inline mr-2" style="font-size:1.45em;">{{ presentation.goal[:1] | upper ~ presentation.goal[1:] }}</h4>

    <!-- Edit Project Goal Button -->

    {% if app.user and app.user == presentation.creator %}

        <a href="{{ path('project_edit', {'slug': presentation.slug}) }}" class="">

            <button class="btn btn-light sharp font-weight-bold fs-15">Éditer</button>
            
        </a>

    {% endif %}
