<!-- Project Keywords Presentation -->

{% if presentation.keywords | length > 0 %}

    <div class="pp-project-keywords keywords text-left" >

        <!-- Project Keywords Display -->

        <span class="d-inline-block mr-2">

            {% set keywords = presentation.keywords | replace({" " : ""}) | split(',') %}

            {% for keyword in keywords %}

                #{{keyword | first | capitalize ~ keyword[1:] }}

            {% endfor %}

        </span>
       
        <!-- Edit Project Keywords Button -->

        {% if is_granted('edit', presentation) %}

            <a class="pp-edition-mode" href="{{ path('index_categories', {'slug': presentation.slug}) }}" class="">

                <button class="btn btn-light btn-sm sharp font-weight-bold mb-2 d-inline">Éditer</button>
                
            </a>

        {% endif %}


    </div>

        
    <!-- Some Styles -->

    <style>

        .pp-project-keywords{

            font-size: 17px;

            font-weight: bold;

        }

        @media screen and (max-width: 580px) {

            .pp-project-keywords{

                font-size: 15px;
                font-weight:normal;

            
            }

        }

    </style>

{% else %} {# no keywords (+ no categories), we insert a placeholder for project presenters #}

    {% if userPresenter and presentation.categories | length == 0 %}
            
        <a class="pp-edition-mode pl-3 w-100 pl-md-0 text-body mt-4" href="{{path('index_categories', {'slug': presentation.slug})}}">

            <div id="keywordsPlaceholder" class="d-flex align-items-center">

                <img class="keywordsIcon img-fluid" src="/images/icons/edit_presentation/wysiwyg/hashtag.svg" height="25" width="25" alt="add keywords icon" >

                <span class="h4 font-weight-bold mt-2">Catégorie & Mots-clés</span>

            </div>

        </a>
    

    <style>

		#keywordsPlaceholder{

			cursor: pointer;

            padding: 0px 15px;

			border: 5px dashed rgb(180, 204, 236);
			border-radius: 6px;

            width:400px;

		}

        
        .keywordsIcon {

            margin-right : 15px;
            
        }

		#keywordsPlaceholder:hover {
			
			background-color: lavender;
		}


		@media screen and (max-width: 580px) {

			#keywordsPlaceholder{

                width:100%;

			}

		}

    </style>

    
        
    
    {% endif %}
    
    

{% endif %}