

 <div class="keywords font-weight-bold mt-1 mb-2 h6 text-left" style="height:1.25em;" >
                         
    {% if presentation.keywords | length > 0 %}
                        
        #{{presentation.keywords | replace({"," : " #", " " : ""}) | slice(0, 64) }}

    {% endif %}

</div>