

<!-- Project Logo Display -->

<div class="mb-md-2">

    {% if presentation.logoName %}

        <!-- Logo Edit Button -->
        
        {% if is_granted('edit', presentation) %}

            <div class="pp-edition-mode font-weight-bold text-center mt-3 mb-1">  

                <a href="{{ path('project_edit', {'slug': presentation.slug}) }}" class="">

                    <button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15 p-0" style="font-size: 0.8em;">Éditer le logo</button>
                    
                </a>

            </div>
        
        {% endif %}

        <!-- Logo Display -->

        <div class="d-inline-block m-0 d-flex align-items-center justify-content-center" >

            <!-- Small Screens -->

            <div class="d-md-none">

                 <img class="rounded" src="{{ asset('/images/projects/logos/' ~ presentation.logoName) | imagine_filter('logo_thumbnail_sm') }}" alt="Logo du Projet">

            </div>

            <!-- Larger Screens -->

            <div class="d-none d-md-block">

                 <img class="rounded" src="{{ asset('/images/projects/logos/' ~ presentation.logoName) | imagine_filter('logo_thumbnail_md') }}" alt="Logo du Projet">

            </div>

        </div>

    {% endif %}

</div>