

<!-- Project Logo Display -->

<div class="mb-md-2">

    {% if presentation.logoName %}

        <!-- Logo Edit Button -->
        
        {% if is_granted('edit', presentation) %}

            <div class="pp-edition-mode font-weight-bold text-center mt-3 mb-1">  

                <a href="{{ path('project_edit', {'slug': presentation.slug}) }}" class="">

                    <button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15 p-0" style="font-size: 0.8em;">Éditer le logo</button>
                    
                </a>

            </div>
        
        {% endif %}

        <!-- Logo Display -->

        <div class="d-inline-block m-0 d-flex align-items-center justify-content-center" >

            <!-- Small Screens -->

            <div class="d-md-none">

                <img class="rounded" src="{{ asset('/images/projects/logos/' ~ presentation.logoName) | imagine_filter('logo_thumbnail_sm') }}" alt="Logo du Projet">

            </div>

            <!-- Larger Screens -->

            <div class="d-none d-md-block">

                 <img class="rounded" src="{{ asset('/images/projects/logos/' ~ presentation.logoName) | imagine_filter('logo_thumbnail_md') }}" alt="Logo du Projet">

            </div>

        </div>

    {# logo placeholder #}

    {% elseif userPresenter and placeHoldersLifeSpan > presentationCreationTimeLapse %}
        
        <a href="{{ path('project_edit', {'slug': presentation.slug}) }}" class="pp-edition-mode">

            <div id="logoPlaceholder" class="mb-md-2">

                <img class="noLogoIcon img-fluid" src="/images/icons/edit_presentation/wysiwyg/no_logo.svg" height="90" width="90" alt="add a logo icon" >

            </div>

        </a>

        <style>

            #logoPlaceholder{

                border: 5px dashed rgb(180, 204, 236);
                border-radius: 6px;
                padding:15px;

            }

            #logoPlaceholder:hover {
                cursor: pointer;
                background-color: lavender;
            }


            @media screen and (max-width: 580px) {


            }

        </style>

    {% endif %}
    
</div>