

<!-- Presentation Created At Datetime -->

{% if presentation.createdAt %}

    <div class="pl-0 col-md-5 mt-4 mb-3 font-weight-bold">

        <span class="">
            Présentation Créée le : 
        </span>

        {{ presentation.createdAt | date("d/m/Y") }}
     
    </div>
    
{% endif %}