<!-- WARNING Javascript ajax management is done in pp/show.html.twig due to jQuery.js loading priorities -->

<!-- Project News Display -->

{% if presentation.news | length > 0 %}

    <!-- Structure Container -->

    <div class="pp-struct-container pp-struct-needs">

        <!-- Title Container -->

        <div class="pp-struct-title-container">

            <h3 class="pp-struct-title d-inline mr-2">

                Informations
                
            </h3>

                    
            <!-- Manage Project News Button -->

           {% if app.user and app.user == presentation.creator %}
                <a href="{{ path('manage_news', {'slug': presentation.slug}) }}">

                    <button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15">Gérer les actualités</button>
                    
                </a>
            {% endif %}

        </div>

        <!-- News List Display (single-div vertical timeline) (thank you Niels Voogt & codepen) -->
        
        {% include 'pp/partials/_news/_list_display.html.twig' %}

        <!-- News Details Display (in a modal box) -->
        
        {% include 'pp/partials/_news/_details_display.html.twig' %}

        <!-- News Multimedia Display (in a lightbox) -->
        
        {% include 'pp/partials/_news/_multimedia_display.html.twig' %}
        
        <!-- Manage modalbox content and lightbox content (javascript) -->
        <!-- See templates\pp\js_show\_news.html.twig -->
        


    </div>
  
        
    
    {% endif %}
    
    
    <!-- Some Style -->


<style>

    #newsDisplayTable td:hover, #newsDisplayTable .pp-struct-container a:hover {
                
        background-color : lavender;

    }

    /* #newsDisplayTable tbody tr:first-child {
                
        margin-top:0px !important;
        padding-top:0px !important;

        background-color: brown; 
    }*/



</style>
    

