
<!-- Project Owner Display -->

{% if presentation.owners | length > 0 %}

    <!-- Project Presentation Owners Display Container -->

    <div id="ownersDisplay" class="pp-struct-container pb-3">

        <!-- Title Container with Edit Button -->

        <div class="pp-struct-title-container">
                
            <!-- Structure Icon -->

            <img class="pp-struct-icon" src="/images/icons/consult_presentation/owner.svg" height="38" width="38" alt="project owners icon">

            <!-- Structure Title -->

            <h3 class="pp-struct-title">Porteurs du Projet</h3>
    
            <!-- Edit Owners Button -->
    
            {% if is_granted('edit', presentation) %}

                <a class="pp-edition-mode" href="{{ path('manage_owners', {'slug': presentation.slug}) }}">
    
                    <button class="btn btn-light sharp font-weight-bold">Gérer</button>
                    
                </a>

            {% endif %}

        </div>

        
        {# Displaying Onwers Cards #}

        <div class="container">
            
            <div class="scrolling-wrapper-flexbox row pl-md-4 mb-4">

                {% for owner in presentation.owners %}

                    {% set persorg = owner.persorg %}

                    {% include 'pp/partials/_persorg/_card.html.twig' %}

                    {% include 'pp/partials/_persorg/_modal_box.html.twig' %}

                {% endfor %}

                {# Style Persorg Card #}

                {% include 'pp/partials/_persorg/_style_card.html.twig' %}

            </div>

        </div>

    </div>


{% endif %}


<!-- Styles for Project Owner Display -->

<style>

    #ownersDisplay .pp-struct-icon {
        top: 0px;
        margin-right: 14px;
        margin-left: 2px;
    }

    @media screen and (max-width: 580px) {

                        
       #ownersDisplay .pp-struct-icon {

            width: 25px;
            height: 25px;
            top: 1px;
            margin-right: 8px;
            margin-left: 1px;
        }

        .scrolling-wrapper-flexbox {

            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;

            -webkit-overflow-scrolling: touch;

        }

    }

</style>


