
<!-- Some Styles -->


{% block stylesheets %}

    <!--Styles for Slick Slideshow -->

    <link rel="stylesheet" type="text/css" href="/css/slick.css"/>

    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
    
{% endblock %}

<!-- Project Owner Display -->

{% if presentation.owners | length > 0 %}

    <!-- Project Presentation Owners Display Container -->

    <div id="ownersDisplay" class="pp-struct-container pb-3">

        <!-- Title Container with Edit Button -->

        <div class="pp-struct-title-container">

            <!-- Structure Title -->

            <h3 class="pp-struct-title d-inline mr-2 mb-2">Porteurs du Projet</h3>
    
            <!-- Edit Owners Button -->
    
            {% if is_granted('edit', presentation) %}

                <a class="pp-edition-mode" href="{{ path('manage_owners', {'slug': presentation.slug}) }}">
    
                    <button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15">Gérer</button>
                    
                </a>

            {% endif %}

        </div>


        <!-- Display Owners Cards -->

        <div class="container">

            <div class="ownersDisplayRow {% if presentation.owners | length > 5 %} ownersSlideshow {% endif %} d-flex justify-content-start">

                {% for owner in presentation.owners %}

                    <!-- Owner Card -->

                    {% include 'pp/partials/_owners/_card_display.html.twig' %}

                {% endfor %}

            </div>


            <!-- Owner Details (displayed in modal boxes) -->
   
            {% for owner in presentation.owners %}

                {% include 'pp/partials/_owners/_modal_box.html.twig' %}

            {% endfor %}

        </div>

    </div>


{% endif %}


<!-- Styles for Project Owner Display -->

<style>

    .ownerCard{

        display: inline-block !important;

        width:164px; 

        min-height:140px; 

        margin-right:10px;

        cursor:pointer;

        white-space:normal;
    
    }

    
    .avatar-circle {
        width: 100px;
        height: 100px;
    }

    
    .initials {
        position: relative;
        top: 22px; /* 25% of parent */
        font-size: 58px; /* 50% of parent */
        line-height: 58px; /* 50% of parent */
    }

    .ownerName{
        color:#2d1cc3;
    }


    @media screen and (max-width: 580px) {

        /* One Letter Avatars */

            .avatar-circle {
                width: 82px;
                height: 82px;
            }

            
            .initials {
                position: relative;
                top: 20px; /* 25% of parent */
                font-size: 40px; /* 50% of parent */
                line-height: 40px; /* 50% of parent */
            }

            .ownersDisplayRow{

                overflow-x: auto;
                white-space: nowrap;
                overflow-y: hidden;

            }


    }

</style>



<!-- Structure Icon

<img class="pp-struct-icon" src="/images/icons/consult_presentation/owner.svg" height="38" width="38" alt="project owners icon"> -->
