

{% if presentation.isActiveContactMessages %}

<!-- Private Messages Button -->

    <a href="{{path('contact_message_new', {'slug':presentation.slug})}}">

        <div class="btn btn-primary mb-3 h5 rounded col-5 px-1 py-2"><span class="h5">Envoyer un Message Privé</span></div>

    </a>
    
{% endif %}