<!-- Project Team Display -->

{% if presentation.teammates | length > 0 %}

    <!-- Project Presentation Team Display Container -->

    <div id="teamDisplay" class="pp-struct-container pb-3">

        <!-- Title Container with Edit Button -->

        <div class="pp-struct-title-container">

            <!-- Structure Icon -->

            <img class="pp-struct-icon" src="/images/icons/consult_presentation/team_2.svg" height="40" width="40" alt="team icon">

            <!-- Structure Title -->

            <h3 class="pp-struct-title">Membres</h3>
    
            <!-- Edit Teammates Button -->
    
            {% if is_granted('edit', presentation) %}

                <a class="pp-edition-mode" href="{{ path('manage_teammates', {'slug': presentation.slug}) }}">
    
                    <button class="btn btn-light sharp font-weight-bold d-inline fs-15">Gérer les membres</button>
                    
                </a>

            {% endif %}

        </div>


        {# Displaying Teammates Cards #}

        <div class="container">
            
            <div class="scrolling-wrapper-flexbox row pl-md-4 mb-md-2">

                {% for teammate in presentation.teammates %}

                    {% set persorg = teammate.persorg %}

                    {% include 'pp/partials/_persorg/_card.html.twig' %}

                    {% include 'pp/partials/_persorg/_modal_box.html.twig' %}

                {% endfor %}

                {# Style Persorg Card #}

                {% include 'pp/partials/_persorg/_style_card.html.twig' %}

            </div>

        </div>


        {# Displaying Teammates Presented with Rich text #}
            
        {% if presentation.teammatesByText is not null %}

            {% include 'pp/partials/_persorg/_rich_text_display.html.twig' with {'richText': presentation.teammatesByText, 'entityType': 'teammate', 'entityId': presentation.id} %}

        {% endif %}

    </div>


{% endif %}


<!-- Styles for Project Team Display -->

<style>

    #teamDisplay .pp-struct-icon {
        top: 1px;
        margin-right: 16px;
        margin-left: 4px;
    }

    @media screen and (max-width: 580px) {

        .teammatesDisplayRow{

            overflow-x: auto;
            white-space: nowrap;
            overflow-y: hidden;

        }

        #teamDisplay .pp-struct-icon {
            width: 28px;
            height: 28px;
            top: 1px;
            margin-right: 8px;
            margin-left: 3px;
        }

        .scrolling-wrapper-flexbox {

            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;

            -webkit-overflow-scrolling: touch;

        }

    }



</style>
