
<!-- Some Styles -->


{% block stylesheets %}

    <!--Styles for Slick Slideshow -->

    <link rel="stylesheet" type="text/css" href="/css/slick.css"/>

    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
    
{% endblock %}


<!-- Project Team Display -->

{% if presentation.teammates | length > 0 %}

    <!-- Project Presentation Team Display Container -->

    <div id="teamDisplay" class="pp-struct-container pb-3">

        <!-- Title Container with Edit Button -->

        <div class="pp-struct-title-container" style="margin-bottom:12px;">

            <!-- Structure Title -->

            <h3 class="pp-struct-title d-inline">Membres</h3>
    
            <!-- Edit Teammates Button -->
    
            {% if is_granted('edit', presentation) %}


                <a class="pp-edition-mode" href="{{ path('manage_teammates', {'slug': presentation.slug}) }}">
    
                    <button class="btn btn-light sharp font-weight-bold d-inline fs-15">Gérer les membres</button>
                    
                </a>


            {% endif %}

        </div>


        <!-- Display Teammates Cards -->

        <div class="container">

            <div class="teammatesDisplayRow d-flex align-items-start {% if presentation.teammates | length > 7 %} teammatesSlideshow {% endif %}">

                {% for teammate in presentation.teammates %}

                {% set teammate = teammate.persorg %}

                    <!-- Team Member Card -->

                    {% include 'pp/partials/_teammates/_card_display.html.twig' %}

                {% endfor %}

            </div>


            <!-- Teammate Details (Modal Boxes Creation) -->
   
            {% for teammate in presentation.teammates %}

                {% set teammate = teammate.persorg %}

                {% include 'pp/partials/_teammates/_modal_box.html.twig' %}

            {% endfor %}

        </div>

        <!-- ECS Rich Text Content Display -->
            
        {% if presentation.teammatesByText is not null %}

            <div class="container richTextContent">

                {{presentation.teammatesByText | raw}}

            </div>

        {% endif %}

    </div>


{% endif %}


<!-- Styles for Project Team Display -->

<style>

    .teamMemberCard{

        display: inline-block !important;

        width:164px; 

        min-height:140px; 

        margin-right:10px; 

        cursor:pointer;
        
        white-space:normal;
    
    }

    
    .avatar-circle {
        width: 100px;
        height: 100px;
    }

    
    .initials {
        position: relative;
        top: 22px; /* 25% of parent */
        font-size: 58px; /* 50% of parent */
        line-height: 58px; /* 50% of parent */
    }

    .teammateMission{
        color:black;
    }


    @media screen and (max-width: 580px) {

        /* One Letter Avatars */

            .avatar-circle {
                width: 82px;
                height: 82px;
            }

            
            .initials {
                position: relative;
                top: 20px; /* 25% of parent */
                font-size: 40px; /* 50% of parent */
                line-height: 40px; /* 50% of parent */
            }

            .teammatesDisplayRow{

                overflow-x: auto;
                white-space: nowrap;
                overflow-y: hidden;

            }


    }



</style>


<!-- Structure Icon

<img class="pp-struct-icon" src="/images/icons/consult_presentation/team.svg" height="38" width="38" alt="team icon"> -->