<!-- Project Title Presentation -->


<!-- Some Styles -->

<style>

    .pp-project-title{

        color:navy !important;
        font-family: Tahoma, Geneva, Verdana, sans-serif;

        padding-top: 0px;

    }

    @media screen and (max-width: 580px) {

        .pp-project-title{

            font-size: 1.5em;

            padding-top: 2px;
            padding-left: 0px;
        }

    }

</style>


{% if presentation.title is not empty %}

    <!-- Structure Container -->

    <div class="mb-0">

        <!-- Project Title Display -->

        <h2 class="pp-project-title mr-3  mb-0 d-inline-block" >{{presentation.title[:1] | upper ~ presentation.title[1:]}}</h2>
                                
        <!-- Edit Project Title Button -->

        {% if app.user and app.user == presentation.creator %}

            <a href="{{ path('project_edit', {'slug': presentation.slug}) }}" class="">

                <button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15">Éditer</button>
                
            </a>

        {% endif %}

    </div>

{% endif %}