<!-- Project Title Presentation -->


<!-- Some Styles -->

<style>

    .pp-project-title{

        color:navy !important;
        font-family: Tahoma, Geneva, Verdana, sans-serif;

        padding-top: 0px;

        margin-bottom:13px !important;

    }

    .title-collapse-hide-me[aria-expanded="true"]{

       display: none;

    }

    @media screen and (max-width: 580px) {

        .pp-project-title{

            font-size: 1.5em;

            padding-top: 2px;
            padding-left: 0px;

            margin-bottom: 0px !important;
        }

    }

</style>



{% if presentation.title is not empty %}

    <!-- Structure Container -->

    <div class="mb-0">

        <!-- Project Title Display -->

        <h2 class="pp-project-title mr-3 mb-0 d-inline-block" >
            
            {% if presentation.title | length > 79 %}

                <span class="cursor-pointer" data-toggle="collapse" href="#collapsedProjectTitle" role="button" aria-expanded="false" aria-controls="collapsedProjectTitle">
                    {{presentation.title[:1] | upper ~ presentation.title[1:] | slice (0,79)}}</span><span class="collapse cursor-pointer" id="collapsedProjectTitle">{{presentation.title [80:] }}

                </span><span class="title-collapse-hide-me cursor-pointer" data-toggle="collapse" href="#collapsedProjectTitle" role="button" aria-expanded="false" aria-controls="collapsedProjectTitle">... ▼</span>

            {% else %}

                {{presentation.title[:1] | upper ~ presentation.title[1:]}}

            {% endif %}
        
        </h2>
                                
        <!-- Edit Project Title Button -->

        {% if app.user and app.user == presentation.creator %}

            <a href="{{ path('project_edit', {'slug': presentation.slug}) }}" class="">

                <button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15">Éditer</button>
                
            </a>

        {% endif %}

    </div>

{% endif %}