
<!--  Box Containing Project Title + Goal + Keywords Logo (= Upper-box Container) -->


{% set displayLogoPlaceholder = false %}

{% if not presentation.logoName and userPresenter and placeHoldersLifeSpan > presentationCreationTimeLapse %}

    {% set displayLogoPlaceholder = true %}

{% endif %}


<!-- (Small Screen Version) -->

<div id="upperBoxDisplay" class="pp-upper-box-structure container d-md-none" >

    <div class="row mb-2">

        <!-- Project Title Display -->

        {% include 'pp/partials/_title.html.twig' %}

    </div>

    <div class="row">

        <!-- Project Logo Display -->

        {# with placeholder management #}

        {% if presentation.logoName or displayLogoPlaceholder %}

            <div 
            
                class="

                    {# logo placeholder is only displayed in edition mode #}

                    {% if displayLogoPlaceholder %} pp-edition-mode {% endif %}
                
                    upperBoxLeftColumn 

                    col-4
                    
                "
            >

                    {% include 'pp/partials/_logo.html.twig' %}

            </div>

        {% endif %}

        {# Project Goal Display #}

        <div class="pp-goal-container pl-md-3 pr-0 d-flex align-items-center

            {% if presentation.title is empty %}

                noTitle-sm
                 
            {% endif %}

            {% if presentation.logoName is empty and placeHoldersLifeSpan < presentationCreationTimeLapse %}
            
                col-auto noLogo-sm 
            
            {% else %}

                 col-8  

            {% endif %}
        
        ">

            <div class="container">
                
                <!-- Project Goal Display -->

                <div class="row">

                    {% include 'pp/partials/_goal.html.twig' %}

                </div>

            </div>   

        </div>

    </div>

    {# Project Keywords Display #}

    <div class="row">

        {% include 'pp/partials/_keywords.html.twig' %}

    </div>

</div>

<!-- (Bigger Screen Version) -->

<!-- One Row Containing Two Columns -->

<div class="pp-upper-box-structure d-none d-md-block">

    <div class="row">

    <!-- Left Column -->

        {% if presentation.logoName or displayLogoPlaceholder %}

            <div 
            
                class= "

                        {# logo placeholder is only displayed in edition mode #}

                        {% if displayLogoPlaceholder %} pp-edition-mode {% endif %}

                        upperBoxLeftColumn col-2 pr-md-0
                        
                    "
                >

                <!-- Project Logo Display -->

                {% include 'pp/partials/_logo.html.twig' %}


            </div>
            
         {% endif %}

        <!-- Right Column -->

        <div class="col-10 mb-0 d-flex align-items-center">

            <div class="container">

                 <!-- Project Title Display -->

                <div class="row">
                    
                    {% include 'pp/partials/_title.html.twig' %}
                
                </div>

                <!-- Project Goal Display -->

                <div class="row pt-1 mb-2 pr-2">

                    {% include 'pp/partials/_goal.html.twig' %}
              
                </div>

                
                <!-- Project Keywords Display -->

                <div class="row">
                    
                    {% include 'pp/partials/_keywords.html.twig' %}
                
                </div>

            </div>
    
    </div>

    </div>



<style>

.pp-upper-box-structure{
    
    margin-top:8px;
    margin-bottom:35px;

    padding-left: 17px; 
    padding-top: 14px;
    padding-bottom: 16px;

    background-color : aliceblue;

    border-left: 6px solid #ffa500;
    border-bottom: 6px solid #ffa500;

}

.upperBoxLeftColumn{

    display:flex;
    align-items: center;
    justify-content: center;

}


.pp-goal-container{
    padding-left:12px;
}

@media screen and (max-width: 580px) {

    .pp-upper-box-structure{

        margin-top:0;
        margin-bottom:18px;

        padding-left:10px;
        padding-bottom: 6px;

        border:none;

    }

    .pp-goal-container{
        padding-left:12px;
    }

    .noTitle-sm{
        padding-top:0px !important;
    }

    .noLogo-sm{
        padding-left:0px !important;
    }

}

</style>

</div>