
<!-- Project Websites Display -->

{% if presentation.websites | length > 0 %}

    <!-- Structure Container -->

    <div class="pp-struct-container pb-2">

        <!-- Title Container -->

        <div class="mb-3">

            <h2 class="h3 pp-struct-title d-inline mr-2">Sites web</h2>
                                    
            <!-- Edit Project Title Button -->
    
            {% if app.user and app.user == presentation.creator %}
                <a href="{{ path('websites_index', {'slug': presentation.slug}) }}" class="">
    
                    <button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15">Gérer les sites web</button>
                    
                </a>
            {% endif %}

        </div>

        <!-- Project Websites Grid Display -->

        <div class="row pl-md-3">

             {% for website in presentation.websites %}

                <div class="pl-md-3 col-sm-5 bg-white border border-light p-1 mb-4 mr-4" style="overflow-wrap: break-word;">

                    <a href="{{website.url}}" class="list-group-item list-group-item-action border-0 flex-column align-items-start text-decoration-none text-body p-1">

                        <div class="text-body p-1 w-100">

                            {% if website.description is not null %}

                                <h4 class="mb-1 font-weight-bold">
                                    
                                    {{website.description | slice(0,50)}}

                                    {% if website.description | length > 50 %}
                                    ...
                                    {% endif %}

                                </h4>

                            {% endif %}

                            <p class="mb-1" style="font-size:1.3em;">

                                {{website.url | slice(0,50)}}

                                {% if website.url | length > 50 %}
                                (...)
                                {% endif %}
                            
                            </p>

                        </div>
                    </a>

                </div>
            {% endfor %}

        </div>

    </div>

{% endif %}

