
<!-- Project Websites Display -->

{% if presentation.websites | length > 0 %}

    <!-- Whole Structure Container -->

    <div id="websitesDisplay" class="pp-struct-container">

        <!-- Title Container -->

        <div class="pp-struct-title-container">

            <!-- Structure 

            <img class="pp-struct-icon" src="/images/icons/consult_presentation/websites.svg" height="32" width="32" alt="websites icon">Icon -->

            <!-- Structure Title -->

            <h3 class="pp-struct-title">Sites web</h3>

            <!-- Edit Project Title Button -->
    
            {% if is_granted('edit', presentation) %}

                <a class="pp-edition-mode" href="{{ path('websites_index', {'slug': presentation.slug}) }}">

                    <button class="btn btn-light sharp font-weight-bold d-inline fs-15">Gérer les sites web</button>
                    
                </a>

            {% endif %}

        </div>

        <!-- Project Websites Grid Display -->


        <style>

            
            .pp-website-card, .pp-website-card >* {

                background-color: white;
            }

            .pp-website-card:hover, .pp-website-card:hover a{
                background-color:rgb(251, 250, 240) !important;
            }

            .websiteDescription {

                font-weight: bold;

            }

            .websiteUrl {

                font-size: 1.15em;

            }

            @media screen and (max-width: 580px) {

                .websiteDescription {

                    font-weight: normal;
                    font-size: 17px;
    
                }

                .websiteUrl {

                    font-weight: normal;
                    font-size: 12px;
    
                }


            }

        </style>

        <div class="container pl-md-3">

            <div class="row">
                
                    {% for website in presentation.websites %}

                            <div class="pp-website-card cursor-pointer col-md-5  pl-md-3 border border-primary p-1 mb-4 mx-0 mr-md-4 " style="overflow-wrap: break-word;">

                                <a href="{{website.url}}" class="list-group-item border-0 text-decoration-none text-body p-1">

                                    <div class="p-1">

                                        {% if website.description is not null %}

                                            <h5 class="websiteDescription mb-1">
                                                
                                                {{website.description | slice(0,50)}}

                                                {% if website.description | length > 50 %}
                                                ...
                                                {% endif %}

                                            </h5>

                                        {% endif %}

                                        <p class="websiteUrl mb-1">

                                            {{website.url | slice(0,50)}}

                                            {% if website.url | length > 50 %}
                                            (...)
                                            {% endif %}
                                        
                                        </p>

                                    </div>
                                </a>

                            </div>
                        {% endfor %}
            </div>

             

        </div>

    </div>

{% endif %}

