{% if presentation.websites | length > 0 %}
    
    <div class="container pl-0 my-3">

        <h3 class="mb-1 font-weight-bolder">Sites Web</h3>

        <div class="list-group list-group-flush mb-2 px-2 col-lg-8">
            
            {% for website in presentation.websites %}

                <a href="{{website.url}}" class="list-group-item list-group-item-action border-0 flex-column align-items-start text-decoration-none text-body p-1">
                    <div class="text-body p-1 w-100">
                        {% if website.description is not null %}
                            <h5 class="mb-1 font-weight-bold">{{website.description}}</h5>
                        {% endif %}
                        <p class="mb-1">{{website.url}}</p>
                    </div>
                </a>

            {% endfor %}
            
        </div>
        
    </div>

{% endif %}

