
<!-- Project Websites Display -->

{% if presentation.websites | length > 0 %}

    <!-- Structure Container -->

    <div class="pp-struct-container my-4 pb-2">

        <!-- Title Container -->

        <div class="mb-3">

            <h2 class="h3 pp-struct-title d-inline mr-2">Sites web</h2>
                                    
            <!-- Edit Project Title Button -->
    
            {% if app.user and app.user == presentation.creator %}
                <a href="{{ path('websites_index', {'slug': presentation.slug}) }}" class="">
    
                    <button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15">Gérer les Sites Web</button>
                    
                </a>
            {% endif %}

        </div>

         <!-- Project Websites List Display -->

        <div class="list-group list-group-flush mb-2 px-2 col-lg-8">
            
            {% for website in presentation.websites %}

                <a href="{{website.url}}" class="list-group-item list-group-item-action border-0 flex-column align-items-start text-decoration-none text-body p-1">

                    <div class="text-body p-1 w-100">

                        {% if website.description is not null %}

                            <h5 class="mb-1 font-weight-bold">{{website.description}}</h5>

                        {% endif %}

                        <p class="mb-1">{{website.url}}</p>

                    </div>
                </a>

            {% endfor %}
            
        </div>

    </div>

{% endif %}

