<div id="notificationsList" class="container col-md-10">

    <!-- Followed Projects Notifications -->

    {% if userFollows | length > 0 %}
        
        <div class="container px-0">

        <!-- UI Page Title -->

        <div class="mt-3 mt-md-4">

            <!-- ui Page Title -->

            <h3 class="mb-4 font-weight-bold mr-3">

                {{userFollows | length}}
                
                {{ userFollows | length == 1 ? 'Projet suivi' : 'Projets suivis' }}

            </h3>

        </div>

            {% for userFollow in userFollows | reverse %}

                <!-- Followed Project Title -->
            
                <h4 class="mb-3 font-weight-bold">

                    {# displaying project title, otherwise we display project goal #}

                    {% if userFollow.getPresentation.getTitle > 0 %}

                        {% set projectTitle = userFollow.getPresentation.getTitle %}

                    {% else %}
                        
                        {% set projectTitle = userFollow.getPresentation.getGoal %}                       
                  
                    {% endif %}

                    {{ projectTitle | length > 50 ? projectTitle | slice(0, 50)  | capitalize ~ '...' : projectTitle  | capitalize}}

                </h4>

                <!-- Followed Projects, Display Last Major Modifications -->

                <div class="ml-md-4 mb-5">

                    {# special behaviour when presentation has been deleted #}
                    
                    {# case presentation not deletd #}

                    {% if userFollow.getPresentation.isDeleted == false %}

                        {% set projectLogs = userFollow.getPresentation.getMajorLogs %}

                        {% if projectLogs is not null %}
                        
                            {% include '/user_follows/_show_notifications/_partials/_clickable_notifications.html.twig' %} 

                        {% else %}
                            
                            pas de modification majeure détectée
                        
                        {% endif %}

                    {# presentation has been deleted #}

                    {% else %}
                            
                        <div class="col-md-8 alert alert-warning text-body fs-15 font-weight-bold mb-2">

                            Présentation Supprimée<br><br>

                            <a href="{{path('unfollow_presentation', {'idUserFollow':userFollow.id})}}">

                                <button type="button" class="d-md-inline block btn btn-success bg-green font-weight-bold">ne plus afficher</button>

                            </a>

                        </div>


                    {% endif %}

                </div>

            {% endfor %}

        </div>

    {% else %}
        
        Aucun projet suivis actuellement

    {% endif %}

</div>