
<div class="feedback-modal">

    <span class="closeFeedbackModal" onclick="closeFeedbackModal()">&times;</span>

    <div class="pt-4 px-2 p-md-5">

        {% block content %}
        
        
        {% endblock %}

        <button type="button" class="btn btn-light sharp font-weight-bold mt-3" style="border-color:#17768e;" onclick="closeFeedbackModal()">retour</button>


    </div>

</div>

<script>

    function closeFeedbackModal() {
        
        var feedbackModals = document.getElementsByClassName("feedback-modal");

        for (i = 0; i < feedbackModals.length; i++) {
            feedbackModals[i].style.display = "none";
        }

    }
    
</script>



<style>
    
    .feedback-modal {

        position: fixed;
        z-index: 10000;
        left: 10%;
        top: 10%;
        width: 80%;
        height: 80%;
        overflow: auto;
        padding-top: 0px;
        border: 4px solid black;
        border-radius: 6px;
        /* background-color: white;  
        color: black; */      
        

    }

    .feedback-modal{

        background-color: aliceblue;

    }

    .feedback-modal p {

        font-size: 18px;
        font-weight: bold;
    }

    .feedback-modal input {

        border: none;
        background-color: inherit;
        font-weight: bold;
    }

    .closeFeedbackModal{

        color: black;
        position: absolute;
        top: 5%;
        right: 3%;
        font-size: 28px;
        font-weight: bold;
        z-index: 10;
        
    }

        
    .closeFeedbackModal:hover,
    .closeFeedbackModal:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

    @media screen and (max-width: 580px) {

        .feedback-modal {

            left: 0;
            top: 5%;

            width: 100%;
            height: 90%;

            border: 1 px solid black;
            border-radius: 0px;

        }

        .closeFeedbackModal{

            top:3%;
            right: 5%;
            
        }

        .feedback-modal p {

            padding-top : 30px;
        }

    }

</style>