    
<!-- Script to Display a Project Need Details into a Modal -->

<script>

    $(document).ready(function(){

        // When Click on a Need Title, we display its details in a modal box

        $('#needsDisplayTable tbody').on('click', 'tr', function (){

            var needId = $(this).attr('id');
            var needTitle = $(this).attr('data-need-title');
            var needDate = $(this).attr('data-need-date');
            var needIsPaid = $(this).attr('data-need-isPaid');

            var loader =  '<div class="p-3"><div class="loader"></div></div>';

            //alert(needTitle);

            $('#titleNeedModal').html(needTitle);

            $('#dateNeedModal').html(needDate);

            $('#isPaidNeedModal').html(needIsPaid);

            $('#descriptionNeedModal').html(loader);
            
            // Get Need Details and Display These Details in a Modal

            
            $.ajax({  

                url: "{{path('ajax_get_need_details', {'slug': presentation.slug}) }}",

                type:       'POST',   

                dataType:   'json',

                data: {

                    "needId": needId,

                },

                async: true,  
                
                success: function(data, status) {

                    needDescription = data.needDescription;

                    $('#descriptionNeedModal').html(needDescription);

                                        
                },  

                error : function(xhr, textStatus, errorThrown) {  

                    alert('Ajax request failed.');  

                }  

                }); 


        
            


        });

    });

</script>