{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}


{% block title %}Envoyer un Message à l'Administration du Site{% endblock %}

{% block body %}

<div class="container">

    <h4 class="mt-4 mb-3">Envoyer un Message à l'Administration du Site</h4>

    <p class="h5 mt-3 mb-2">Merci d'apporter toutes les précisions utiles</p>

    <div class="col-md-5 pl-0">

        {{ include('report/_form.html.twig') }}

    </div>

</div>
    
    
{% endblock %}
