{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Nouvelle Carte de Visite{% endblock %}

{% block body %}

    <div class="container col-sm-6">

        
        <!-- Title with Info Button Container -->

        <div class="my-3 mt-md-5 mb-md-4">

            <!-- ui Page Title -->

            <h3 class="font-weight-bold d-inline mr-3">Nouvelle carte de visite</h3>

            <!-- collapsable advice trigger button -->	

            <a class="font-weight-bold my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                <span class="btn btn-light fs-15 h5 sharp p-1 px-3" style="letter-spacing: 2px;">Info</span>
                
            </a>

        </div>

        <!-- Collapsible Info Container -->

        <div class="info-box collapse mt-0 mb-3 pl-2 pt-2" id="collapseExample">

            <p class="h5">

                Remplissez seulement les informations que vous souhaitez présenter.

            </p>

        </div>
        
        <div class="">

            {{ include('contacts/_form.html.twig') }}

        </div>
        
        

    </div>

{% endblock %}
