{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Nouvelle Zone de Contact{% endblock %}

{% block body %}

    <div class="container col-sm-6">

        <div class="my-4" >

            <!-- ui page title -->	
                    
            <h2 class="my-3 d-inline mr-3">Nouvelle zone de contact</h2>

            <!-- collapsable advice -->	

            <a class="font-weight-bold mt-2 pb-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                <span class="btn btn-light fs-15 h5 sharp p-1 px-2" style="letter-spacing: 2px;"> Conseil </span>
                
            </a>
            
            <div class="collapse mt-2 mb-4" id="collapseExample">

                <p class="h5">

                    Remplissez seulement les informations que vous souhaitez présenter.

                </p>
        
            </div>

        </div>
   

        <div class="">

            {{ include('contacts/_form.html.twig') }}

        </div>
        
        

    </div>

{% endblock %}
