{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Dates et événements{% endblock %}

{% block sidebar %}{% include 'partials/sidebar.html.twig' %}{% endblock %}

{% block body %}

<div class="container">

    <!-- Title with Display More Info Button (Container) -->

    <div class="mt-3 mt-md-4 mb-2 mb-md-4 pt-md-4">

        <!-- ui Page Title -->

        <h3 class="font-weight-bold d-inline mr-3">Gérer les dates & événements</h3>

        
        <!-- collapsable advice trigger button -->	

        <a class="font-weight-bold my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

            <span class="btn btn-light fs-15 h5 sharp p-1 px-3" style="letter-spacing: 2px;">Info</span>
            
        </a>

    </div>

    <!-- Collapsible Info Container -->

    <div class="info-box collapse col-md-8 mt-0 mb-4" id="collapseExample">

        <p class="h5 pt-1">

            Si il y a des dates et des événements liés à votre projet, vous pouvez les présenter ici.
            
            <br>
            <br>

            Exemples :             

        </p>
               
        <ul class="h5">

            <li class="mb-2">Date de début du projet</li>
            <li>Date de livraison du produit</li>

        </ul>

    </div>

    
    <!-- Add an Event (Button Triggers a Modal) -->

    <div class="mb-4">

        <button type="button" data-toggle="modal" data-target="#eventFormModal" class="btn btn-lg btn-success bg-green sharp p-3 font-weight-bold mr-1">+ Ajouter un événement</button> 

    </div>


    <!-- New Event Form Display (in a Modal Box) -->

    {% include '/events/_formModalNew.html.twig' %}


    <!-- Project Events Display (in a Timeline) -->

    {% include '/events/_timeline.html.twig' %}


    <!-- Back Buttons -->

    <div class="mt-5">

        <a class="text-decoration-none text-white" href="{{ path('edit_presentation_menu', {'slug': presentation.slug }) }}">
            <button type="button" class="btn btn-info btn-lg bg-blue font-weight-bold mr-2 mb-4 sharp">Menu</button>
        </a>

                       
        <a class="text-decoration-none text-white" href="{{path('project_show', {'slug': presentation.slug })}}#eventsDisplay">
            <button type="button" class="btn btn-warning btn-lg font-weight-bold mb-4 sharp">Résultat</button>
        </a>


    </div>

    

</div>

{% endblock %}


{% block javascripts %}


    <!-- sortable plugin in order to reorder Events -->

    <script src="/js/sortable/sortable.min.js"></script>

    <!-- jQuerySupport for this sortable plugin -->
    
    <script src="/js/sortable/jquery-sortable.js"></script>



       
    <script>

        $(document).ready(function(){

            // If form errors, we have to trigger modal box display for the user to be aware of thesses form errors.

            {% if not form.vars.valid %}

                $('#eventsFormModal').modal('show');

            {% endif %}

            
            $('#timeline').sortable({

              animation: 150,

              ghostClass: 'blue-background-class',

              filter: ".disabled",

              onMove: function (evt) {
                  return evt.related.className.indexOf('disabled') === -1;
              },

              // reorder event positions (drag and drop)

              onEnd: function (evt) {

                // an array storing slides id position

                var eventsPositions = [];

                
                $('#timeline li.js-sortableGridItem').each(function(index){
                    
                  eventsPositions.push($(this).attr('id'));
                
                });

                jsonEventsPositions = JSON.stringify(eventsPositions);
                
                $.ajax({  
                    url: "{{path('ajax_reorder_events', {'slug': presentation.slug})}}",
                    type:       'POST',   
                    dataType:   'json',
                    data: {
                        "jsonEventsPositions": jsonEventsPositions,
                    },

                    async: true,  
                    
                    success: function(data, status) {
                              
                    },  

                    error : function(xhr, textStatus, errorThrown) {  
                        // alert('Ajax request failed.');  
                    }  
                  }); 

            },
            
          });



               
            // Remove an Event

            $('#timeline').on('click', '.js-delete-event', function (){

              var idEvent = $(this).attr("data-id");

              if (confirm("Confimez vous enlever cet événement ?"))
              {
                  
              $.ajax({  

                  url: "{{path('ajax_remove_event', {'slug': presentation.slug}) }}",
                  type:       'POST',   
                  dataType:   'json',
                  
                  data: {
                      "idEvent": idEvent,
                  },

                  async: true,  
                  
                  success: function(data, status) {

                    $("#timeline li#"+idEvent).remove();
                      
                  },  

                  error : function(xhr, textStatus, errorThrown) {  
                      // alert('Ajax request failed.');  
                  }  
                  }); 
                  
              }
  
          });



        }); 

        
    </script>

{% endblock %}
