

{{user.getName}} vous invite à participer à un projet. 

<br><br>

<button type="button">cliquer ici pour le rejoindre</button>

<br><br>

Cet email est envoyé par le site web du Projet des Projets, dédié à la présentation des projets.

<br><br>

www.projetdesprojets.com
