<div class="modal fade" id="modalBox" tabindex="-1" role="dialog" aria-labelledby="modalBoxTitle" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <!-- Message Title Area -->

                <h4 class="modal-title mx-3 font-weight-bold" id="modalBoxTitle">
                    
                </h4>

                <!-- Modal Close Button -->

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="modal-body">

                <!-- Message Date Area -->

                <div class="dateBox font-weight-bold h4 col-md-5 ml-auto">Le <span id="dateString"></span> à <span id="hourString"></span></div>

                <!-- Message Content Area -->

                <div id="messageContent" class="mx-3 my-4 p-3 h6 border border-primary rounded" style="font-size:1.15em; white-space:pre-wrap;">

                </div>

                <!-- Message Sender Area -->

                <div class="senderBox mx-3 h4 font-weight-bold">Message envoyé par : <span id="emailString"></span></div>

            </div>

            <div class="modal-footer">

                <!-- Close Button -->

                <button type="button" class="btn btn-primary font-weight-bold" data-dismiss="modal">Fermer</button>
            </div>

        </div>

    </div>

</div>